include mixin.pug

doctype html

html(lang="ru")
    head
        meta(name="theme-color" content="#e43a46")
        link(rel="shortcut icon" href="/images/star.png" type="image/x-icon")
        meta( charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="/css/lightbox.min.css")
        link( rel="stylesheet" href="/css/MainCss.css")
        block head
    body
        .allContent__wrapper
            include header/header.pug
            block content

            footer
                include footer/footer.pug
                .svg(style="display:none")
                    include SVG

    script(rel="script" src="/script/jquery-3.3.1.min.js")
    script(rel="script" src="/script/lightbox.min.js")
    script(rel="script" src="/script/script.js")

