.about{
  max-width: 1200px;
  margin: 20px auto ;

  @media(min-width: 768px) {
    margin: 40px auto 80px;
    padding: 0 20px;
  }

  @media(min-width: 1240px) {
    padding: 0;
  }


  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    margin-bottom: 40px;
  }

  &__text {
    text-indent: 18px;
    color: #033B61;
    text-align: justify;
    font-size: 16px;
    padding: 15px;
    line-height: 1.6;

    @media(min-width: 1240px) {
      font-size: 18px;
      padding: 0;
    }

    a{
      text-decoration: underline;
      color: #47a4b5;
    }
  }


}