.about
    h2.about__title Немного o нас

    .about__text
        |Мы поздравляем детей и взрослых уже более шести лет и по настоящему любим дарить чудо и
        |новогоднее настроение! Оформив заказ Деда Мороза и Снегурочки в Санкт-Петербурге в нашей
        |компании, вы можете быть уверены в профессиональном и веселом празднике. У нас работают
        |только опытные волшебники,&nbsp;
        a(href="") Дед Мороз на дом
        |&nbsp;к ребенку,&nbsp;
        a(href="") Дед Мороз на утренник
        |&nbsp;в детский сад или школу,&nbsp;
        a(href="") Дед Мороз на корпоратив
        |&nbsp;в офис и в ресторан&nbsp;
        | – для нас нет ничего невозможного!
        | Наши талантливые актеры проведут веселые игры и конкурсы, закружат вас в танце, споют с вами
        | новогодние песни, они зарядят вас позитивом на весь следующий год. Красивые костюмы и продуманные
        | образы не оставят никого равнодушным. А наше ответственное отношение к организации мероприятия
        | позволит вам не беспокоится по мелочам и с головой окунуться в праздничную атмосферу, которую вы
        | так долго ждали!
    .about__text.
        Сделайте заказ Деда Мороза и Снегурочки в СПб и подарите своим близким самый
        ценный подарок - веру в новогоднее чудо, ведь Новый 2019 год уже совсем-совсем близко!
    .about__text.
        Наши сказочные герои путешествуют по всем районам Санкт-Петербурга и Ленинградской области,
        Дед Мороз и Снегурочка поздравляют деток на дому, в школе, детском садике и во дворе.
        Но и о взрослых не забывают: ко всем, кто писал письма, приходим на корпоратив в ресторан,
        в офис и даже в торговый центр.