.advantage {
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 20px 0 100px;

  @media(min-width: 1200px) {
    background-image: url("../images/36.jpg");
    padding: 40px 0 100px;
    background-attachment: fixed;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  &__block {
    margin-top: 40px;
    text-align: right;
  }

  &__list {
    width: 100%;
    display: inline-block;
    text-align: left;

    @media(min-width: 1200px) {
      max-width: 700px;
      width: 50%;
    }
  }

  &__content {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &__contentWrapper {
    background-color: rgba(109, 132, 161, 0.68);
    color: #fff;
    padding: 10px;
  }

  &__contentTitile {
    font-size: 20px;
    font-weight: bold;

    @media(min-width: 768px) {
      font-size: 22px;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 80px);
  }

  &__contentIcon {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    background-image: url(../images/confetti.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    height: 92px;

    &--1 {
      background-image: url(../images/dedM.png);
    }

    &--2 {
      background-image: url(../images/gift.png);
    }

    &--3 {
      background-image: url(../images/bulbs.png);
    }

    &--4 {
      background-image: url(../images/bow.png);
    }
  }
}