.advantage
    h2.advantage__title Наши преимущества
    .advantage__block
        .advantage__list
            .advantage__content
                .advantage__contentWrapper
                    .advantage__contentIcon
                    .advantage__text
                        .advantage__contentTitile Поздравляем детей и взрослых уже более 6 лет
                        .advantage__contentDesc.
                            По-настоящему любим дарить чудо и новогоднее настроение!
                            Ко многим семьям мы приходим не первый год, что очень важно для наших маленьких друзей!

            .advantage__content
                .advantage__contentWrapper
                    .advantage__contentIcon.advantage__contentIcon--1
                    .advantage__text
                        .advantage__contentTitile Красивые новые костюмы
                        .advantage__contentDesc.
                            На фото именно мы, и именно в тех костюмах, в которых придем к вам! Дед Мороз обязательно в
                            валенках и с посохом, Снегурочка в белых сапожках.

            .advantage__content
                .advantage__contentWrapper
                    .advantage__contentIcon.advantage__contentIcon--2
                    .advantage__text
                        .advantage__contentTitile Индивидуальный подход
                        .advantage__contentDesc Программы для разных возрстов! Много игр, конкурсов и загадок! Индивидуальный подход к каждому ребенку и взрослому!

            .advantage__content
                .advantage__contentWrapper
                    .advantage__contentIcon.advantage__contentIcon--3
                    .advantage__text
                        .advantage__contentTitile Приятные цены и акции
                        .advantage__contentDesc Работаем без посредников, поэтому наши цены разумные и недорогие! Экспресс-поздравление на дом от 1500 руб!

            .advantage__content
                .advantage__contentWrapper
                    .advantage__contentIcon.advantage__contentIcon--4
                    .advantage__text
                        .advantage__contentTitile Ответственное отношение
                        .advantage__contentDesc Ответственно относимся к проведению праздника: заранее звоним, приходим вовремя, не курим и тем более не пьем.

