.header {
  position: relative;
  background-color: #fcfdff;
  padding: 0;

  @media(min-width: 1024px) {
    background-color: $myRed;
    padding: 10px 0;
  }


  &__mMenuIcon {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-image: url(../images/menu.png);
    display: inline-block;
    background-repeat: no-repeat;
    padding: 20px;
    padding-left: 53px;
    background-size: 40px;
    background-position: 10px;
    background-color: #fcfdff;
    top: 0;

    @media(min-width: 1024px) {
      display: none !important;
    }
  }


  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: none;
    align-items: center;

    @media(min-width: 1024px) {
      display: grid;
      grid-template-columns: 0.9fr 2fr 1.2fr;
      grid-column-gap: 20px;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    //  background-image: url(../images/bg_part-bot.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 78px;
    top: 100%;
  }

  &__logo {
    display: none;
    align-items: center;

    @media(min-width: 1024px) {
      display: flex;
    }
  }

  &__icon {
    fill: #fff;
    width: 40px;
  }

  &__logoText {
    color: #fff;
    letter-spacing: 1px;

    @media(min-width: 1024px) {
      font-size: 19px;
      padding-left: 10px;
    }

    @media(min-width: 1240px) {
      font-size: 20px;
      padding-left: 15px;
    }
  }

  &__navigation {

    @media(min-width: 1024px) {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns:  auto auto auto auto auto auto;
    }

    // &>div{
    //   text-align: center;
    // }

    a {
      display: inline-block;
      letter-spacing: 1px;
      color: #fff;
      font-size: 16px;
      padding: 10px 0;

      @media(min-width: 1024px) {
        font-size: 15px;
      }

      @media(min-width: 1240px) {
        font-size: 16px;
      }
    }
  }


  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 1024px) {
      margin-right: 10px;
    }

    @media(min-width: 1240px) {
      margin-right: 0;
    }
  }

  &__phone {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    flex-grow: 1;

    @media(min-width: 1024px) {
      font-size: 16px;
    }

    @media(min-width: 1240px) {
      font-size: 17px;
    }
  }

  &__vk{
    color: #fff;
    background-color: $myRed;
    display: inline-block;
    width: 34px;
    height:34px;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 10px;
    border: 2px solid #fff;
    font-size: 0;
    background-image: url(../images/vk.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__post {
    display: block;
    text-align: center;
    background-color: #fff;
    color: $myRed;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    padding: 5px 4px 5px;
    border-radius: 2px;
    flex-grow: 1;
  }

  &__select {
       position: relative;
     }

  &__selectList {
    z-index: 3;
    position: absolute;
    display: none;
    background-color: $myRed;
    padding-top: 10px;
    left: -10px;
    top: 40px;
    border: 1px solid $myRed;

    a{
      padding: 10px;
      display: block;
      border-bottom: 1px solid #fff;

      &:last-child{
        border: none;
      }
      
      &:hover{
        text-decoration: underline;
        background: #fff;
        color: $myRed;
      }
    }
  }
}

.mobile{
  display: none;
}

.noMobile{
  display: inline-block;
}

@media(max-width: 1023px) {
  .mobile{
    display: inline-block;
  }

  .noMobile{
    display: none;
  }

  .header__mMenu {

    &:checked~ {
      .header__mMenuIcon {
        background-image: url(../images/menu_open.png);
        background-color: $myRed;
        display: block;
        color: #fff;
        max-width: 320px;
      }

      .header__content {
        display: block;
        background-color: $myRed;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 3;
        max-width: 320px;

        .header__navigation {
          display: block;
          padding: 10px;
          padding-top: 0;
          margin-top: -1px;

          a {
            display: block;
            width: 100%;
            padding: 5px 0;
            border-bottom: 1px solid #fff;
          }
        }

        .header__contact {
          padding: 10px;

          .header__phone {
            font-size: 14px;
          }
        }


        .header__selectList.mobile{
          position: relative;
          display: block;
          left: 0;
          top: 0;
          padding: 0;
        }
      }
    }
  }

  a.mobile{
    display: inline-block !important;
  }

  a.noMobile{
    display: none !important;
  }
}

@media(min-width: 1200px) {
  .header__select {
    &:hover {
      &>.header__selectList {
        display: block;
      }
    }
  }
}