.header
    input(type='checkbox')#menu.header__mMenu
    label(for="menu").header__mMenuIcon Меню
    .header__content
        a(href="/").header__logo
            svg.header__icon(viewBox="0 0 570.757 570.757")
                use.i_header(xlink:href="#christmasTree" x="0" y="0")
            .header__logoText Мороз На Ёлку
        nav.header__navigation   
            div
                a(href="/") Главная
            div
                a(href="/o_nas.html") О нас
            div.header__select
                a(href="#").noMobile Цены
                .header__selectList.mobile
                    a(href="/moroz_na_dom_price.html")
                        span.mobile Цены на Дом
                        span.noMobile Дома
                    a(href="/moroz_na_utrennik_price.html")
                        span.mobile Цены на Утренники
                        span.noMobile Утренники
                    a(href="/moroz_na_korporativ_price.html")
                        span.mobile Цены на Корпоративы
                        span.noMobile Корпоративы
            div.header__select
                a(href="/programs.html").noMobile Программы
                .header__selectList.mobile
                      a(href="/dedmoroz_na_dom.html")
                        span.mobile Программы для Дома
                        span.noMobile Дома
                      a(href="/dedmoroz_na_utrennik.html")
                        span.mobile Программы для Утренников
                        span.noMobile Утренники
                      a(href="/dedmoroz_na_korporativ.html")
                        span.mobile Программы для Корпоративов
                        span.noMobile Корпоративы
            div
                a(href="/photo_gallery.html") Галлерея
            div
                a(href="/contacts.html") Контакты

        .header__contact
            a(href="tel:+78129099609").header__phone  +7(965) 057 99 42
            a(href="/invite.html").header__post Пригласить
            a(href="https://vk.com/moroznaelku").header__vk Вк
