section.inHomeBlock
    h3.inHomeBlock__title Экспресс-поздравление
    .inHomeBlock__desc.
        Программа для самых маленьких наших друзей,
        которые  могут застесняться при первой встрече с
        Дедом Морозом
    .inHomeBlock__icons
        .inHomeBlock__time
            span 7-10 минут
        .inHomeBlock__time.child
            span 1-2 ребенка
    .inHomeBlock__listBlock
        .inHomeBlock__listTitle Что входит в программу?
        ul.inHomeBlock__list
            li.inHomeBlock__content
                i.icon
                .text Дед Мороз и Снегурочка
            li.inHomeBlock__content
                i.icon
                .text Приветствие в стихах
            li.inHomeBlock__content
                i.icon
                .text Интересные загадки
            li.inHomeBlock__content
                i.icon
                .text Вручение подарков
            li.inHomeBlock__content
                i.icon
                .text Фотосессия на память
    .inHomeBlock__priceBlock
        a(href="/moroz_na_dom_price.html").inHomeBlock__price
            span.big от 1 800 руб
            span подробнее
        a(href="/invite.html").inHomeBlock__btn Оставить заявку

section.inHomeBlock
    h3.inHomeBlock__title Новогоднее приключение
    .inHomeBlock__desc.
        Интерактивная сказочная программа. Подходит как для одного ребенка, так и для компании детей разного возраста.
    .inHomeBlock__icons
        .inHomeBlock__time
            span 25-30 минут
        .inHomeBlock__time.child
            span 1-5 детей
    .inHomeBlock__listBlock
        .inHomeBlock__listTitle Что входит в программу?
        ul.inHomeBlock__list
            li.inHomeBlock__content
                i.icon
                .text Дед Мороз и Снегурочка
            li.inHomeBlock__content
                i.icon
                .text Сказочная мини-сценка
            li.inHomeBlock__content
                i.icon
                .text 3-4 игры с реквизитом
            li.inHomeBlock__content
                i.icon
                .text Дружный хоровод у Ёлочки
            li.inHomeBlock__content
                i.icon
                .text Интересные загадки
            li.inHomeBlock__content
                i.icon
                .text Вручение подарков
            li.inHomeBlock__content
                i.icon
                .text Фотосeccия на память
    .inHomeBlock__priceBlock
        a(href="/moroz_na_dom_price.html").inHomeBlock__price
            span.big от 2 400 руб
            span подробнее
        a(href="/invite.html").inHomeBlock__btn Оставить заявку


section.inHomeBlock
    h3.inHomeBlock__title Поздравления от Деда Мороза
    .inHomeBlock__desc
        |Интерактивная сказочная программа. с одним Дедушкой Морозом.
    br 
    .inHomeBlock__icons
        .inHomeBlock__time
            span 25-30 минут
        .inHomeBlock__time.child
            span 1-5 детей
    .inHomeBlock__listBlock
        .inHomeBlock__listTitle Что входит в программу?
        ul.inHomeBlock__list
            li.inHomeBlock__content
                i.icon
                .text Дед Мороз
            li.inHomeBlock__content
                i.icon
                .text Сказочная мини-сценка
            li.inHomeBlock__content
                i.icon
                .text 3-4 игры с реквизитом
            li.inHomeBlock__content
                i.icon
                .text Дружный хоровод у Ёлочки
            li.inHomeBlock__content
                i.icon
                .text Интересные загадки
            li.inHomeBlock__content
                i.icon
                .text Вручение подарков
            li.inHomeBlock__content
                i.icon
                .text Фотосeccия на память
    .inHomeBlock__priceBlock
        a(href="/moroz_na_dom_price.html").inHomeBlock__price
            span.big от 1 800 руб
            span подробнее
        a(href="/invite.html").inHomeBlock__btn Оставить заявку


//- section.inHomeBlock
//-     h3.inHomeBlock__title VIP - Поздравление
//-     .inHomeBlock__desc.
//-         Расширенная программа заказа Деда Мороза и Снегурочки, разрабатывается индивидуально для ваших деток.
//-     .inHomeBlock__icons
//-         .inHomeBlock__time
//-             span 40-60 минут
//-         .inHomeBlock__time.child
//-             span 1-10 детей
//-     .inHomeBlock__listBlock
//-         .inHomeBlock__listTitle Что можно включить в программу?
//-         ul.inHomeBlock__list
//-             li.inHomeBlock__content
//-                 i.icon
//-                 .text Дополнительный персонаж
//-             li.inHomeBlock__content
//-                 i.icon
//-                 .text Снежное/мыльное/химическое шоу
//-             li.inHomeBlock__content
//-                 i.icon
//-                 .text Dj с оборудовнием
//-             li.inHomeBlock__content
//-                 i.icon
//-                 .text Шоу иллюзий
//-             li.inHomeBlock__content
//-                 i.icon
//-                 .text Профессиональный фотограф
//-     .inHomeBlock__priceBlock
//-         .inHomeBlock__price
//-             span.big по запросу
//-         a(href="/invite.html").inHomeBlock__btn Оставить заявку

