.inHomeBlock {
  background: #fff;
  color: #1A1A1A;
  position: relative;
  padding-bottom: 130px;
  border-radius: 2px;

  @media(min-width: 768px) {
    padding-bottom: 75px;
  }

  * {
    color: #1A1A1A;
    font-size: 14px;
  }

  &__title {
    background-color: rgba(242, 36, 36, 0.81);
    color: #fff;
    text-align: center;
    font-family: Lobster, sans-serif;
    font-size: 28px;
    font-weight: normal;
    padding: 12px 0 15px;
    //border-radius: 2px;

  }

  &__desc {
    color: #1A1A1A;
    width: 90%;
    margin: 10px auto 20px;
  }

  &__icons{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 0;

    @media(min-width: 768px) {
      width: 90%
    }
  }

  &__time {
    display: inline-block;
    width: 100%;

    @media(min-width: 768px) {
      width: 50%
    }

    span {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      font-size: 14px;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-image: url("../images/wall-clock.png");
      background-size: contain;
      width: 32px;
      height: 32px;
    }

    &.child {
      &:before {
        background-image: url("../images/child.png");
      }
    }
  }

  &__listBlock {
    max-width: 90%;
    margin: 15px auto;

    @media(min-width: 768px) {
      width: 90%
    }
  }

  &__listTitle {
    text-align: left;
    font-family: Lobster, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  &__list {

  }

  &__content {
    padding-left: 5px;

    .icon {
      display: inline-block;
      vertical-align: middle;
      background-image: url("../images/checked.png");
      background-size: contain;
      width: 20px;
      height: 20px;
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      padding: 7px;
      padding-left: 10px;
    }
  }

  &__priceBlock {
    position: absolute;
    bottom: 15px;
    left: 5%;
    width: 90%;
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    align-items: center;

    @media(min-width: 768px) {
      left: 5%;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 0;
      grid-column-gap: 20px;
    }
  }

  &__price {
    display: block;
    text-align: center;
    vertical-align: middle;

    span {
      display: block;
      text-decoration: underline;
      &.big {
        font-weight: 700;
        font-size: 22px;
        text-decoration: none;

        @media(min-width: 768px) {
          font-size: 18px;
        }

        @media(min-width: 1240px) {
          font-size: 20px;
        }
      }
    }
  }

  &__btn {
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(242, 36, 36, 0.8);
    color: #fff;
    padding: 13px 0 16px;
    font-size: 16px;
    border-radius: 2px;
  }
}