@font-face {
	font-family: 'RobotoSlab';
	src: url("../fonts/RobotoSlab-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url("../fonts/RobotoSlab-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url("../fonts/RobotoSlab-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url("../fonts/RobotoSlab-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url("../fonts/Lobster-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3,
h4,
h5,
h6 {
	font-size: 1.3rem;
}

.mySVG {
	display: none;
}

.ic-2 {
	stroke: #000;
	fill: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-height: 100vh;
	font-family: "RobotoSlab";
	font-weight: normal;
	color: #e63742;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="checkbox"] {
	display: none;
}

.index__header {
	background-image: url("../images/bg_1.jpg");
	text-align: center;
}

.index__title {
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin: 80px 0 10px;
	vertical-align: middle;
}

.index__title:after {
	content: '';
	display: block;
	width: 280px;
	height: 4px;
	background-color: #e63742;
	vertical-align: middle;
	margin: 0 auto;
	background: linear-gradient(to right, #e63742, rgba(238, 29, 36, 0));
}

.index__title:before {
	content: '';
	display: block;
	width: 280px;
	height: 4px;
	background-color: #e63742;
	vertical-align: middle;
	margin: 0 auto;
	background: linear-gradient(to right, rgba(238, 29, 36, 0), #e63742);
}

.index__desc {
	font-family: Lobster, sans-serif;
	font-size: 24px;
	color: #85919A;
}

.index__triptych {
	display: grid;
	margin: 0 auto;
	padding: 50px 0;
	grid-template-columns: 280px;
	-ms-flex-pack: center;
	justify-content: center;
	grid-row-gap: 20px;
}

.index__textBlock {
	padding: 60px 0;
	background-color: #e63742;
	position: relative;
}

.index__textBlock:before {
	content: '';
	display: block;
	position: absolute;
	background-image: url(../images/bg_part-top.png);
	width: 100%;
	height: 59px;
	bottom: 100%;
}

.index__textBlock:after {
	content: '';
	display: block;
	position: absolute;
	background-image: url(../images/bg_part-bot.png);
	width: 100%;
	height: 59px;
	top: 100%;
}

.index__textContent {
	max-width: 1200px;
	margin: 0 auto;
	color: #fff;
}

.index__textContent p {
	text-indent: 18px;
	font-size: 18px;
	font-weight: 300;
}

.blog {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 70px 10px 80px;
}

.blog__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin: 20px 0 40px;
}

.blog__content {
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.blog__content h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px;
	color: #033B61;
}

.blog__content h3 {
	color: #033B61;
	font-size: 18px;
	font-style: italic;
	display: inline-block;
	font-weight: normal;
	vertical-align: top;
	margin-bottom: 10px;
}

.blog__post {
	padding: 10px 0 20px;
	border-bottom: 2px solid #e43a46;
	position: relative;
}

.blog__text {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 15px;
}

.blog__postContent {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	padding-bottom: 30px;
}

.blog__postImg {
	display: inline-block;
	vertical-align: top;
}

.blog__postDesc {
	color: #033B61;
	white-space: normal;
}

.blog__postBtn {
	color: #033B61;
	position: absolute;
	bottom: 20px;
	font-weight: bold;
}

.blog__photoLink {
	padding: 10px;
	border: 1px solid;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	color: #033B61;
}

.contacts {
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.contacts__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin-bottom: 40px;
}

.contacts__content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px 90px;
}

.contacts__text {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 18px;
	line-height: 1.6;
}

.contacts__textLink {
	color: #033B61;
	text-decoration: underline;
}

.contacts__block {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.contacts__img {
	display: none;
	position: absolute;
	width: 36%;
	right: 20px;
	top: 20px;
}

.contacts__blockCell {
	padding: 10px 0;
}

.contacts__blockTitle {
	font-size: 24px;
}

.contacts__blockLink {
	display: block;
	font-size: 24px;
	color: #033B61;
}

.contacts__blockLink.link {
	text-decoration: underline;
}

.invite {
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.invite__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin-bottom: 40px;
}

.invite__content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px 90px;
}

.invite__text {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 18px;
	line-height: 1.6;
}

.invite__text a {
	font-weight: bold;
	color: #033B61;
}

.invite__text--desc {
	text-indent: 0px;
	margin: 20px 0;
}

.invite__text--right {
	display: inline-block;
}

.invite__textStar {
	color: #e43a46;
}

.invite__formBlock {
	display: inline-block;
	margin: 20px 0;
	max-width: 550px;
	padding: 10px;
	background-image: repeating-linear-gradient(135deg, #f02755 0px, #f02755 10px, #fff 10px, #fff 20px, #55a5d6 20px, #55a5d6 30px, #fff 30px, #fff 40px);
}

.invite__textBlock {
	display: inline-block;
	margin: 20px 0;
	padding-left: 40px;
	vertical-align: top;
}

.invite__form {
	background-color: #fff;
	padding: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.invite__input {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	font-size: 18px;
	border-bottom: 2px solid #55a5d6;
	margin-bottom: 20px;
}

.invite__input.error {
	border-bottom: 2px solid #e43a46;
	outline-color: #e43a46;
}

.invite__mail {
	border: none;
	padding: 5px 10px;
	font-size: 18px;
	border-bottom: 2px solid #55a5d6;
	min-width: 100%;
	max-width: 100%;
	min-height: 250px;
	overflow-y: hidden;
}

.invite__mail.error {
	border-bottom: 2px solid #e43a46;
	outline-color: #e43a46;
}

.invite__btnBlock {
	font-size: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 20px 0 0;
}

.invite__btn {
	border: none;
	font-size: 16px;
	text-align: center;
	background-color: #e43a46;
	color: #fff;
	padding: 8px 15px 9px;
	font-family: "RobotoSlab";
	font-weight: normal;
}

.invite__message {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-right: 20px;
	font-size: 16px;
	-ms-flex-item-align: center;
	align-self: center;
}

.invite #message {
	background-color: #fff;
	padding: 20px;
	display: none;
	min-height: 400px;
	width: 100%;
}

.invite #message.active {
	display: -ms-flexbox;
	display: flex;
}

.invite #message .otvet {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #4CAF50;
	width: 100%;
	-ms-flex-item-align: center;
	align-self: center;
}

.photo_gallery {
	padding: 70px 0 80px;
}

.prices {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 80px 10px 90px;
}

.prices__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin: 20px 0 40px;
}

.prices__title--h2 {
	margin: 20px 0;
	font-size: 22px;
	color: #e43a46;
}

.prices__title--h2.actions {
	font-family: "RobotoSlab";
	font-size: 24px;
	font-weight: bold;
	margin: 15px 0 5px;
	color: #033B61;
}

.prices__title.pricesMobile {
	display: block;
}

.prices__content {
	max-width: 1200px;
	margin: 0 auto;
}

.prices__listContent {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 16px;
	line-height: 1.6;
}

.prices__listContent a {
	font-weight: bold;
	color: #033B61;
}

.prices__tables {
	display: grid;
	grid-template-columns: auto  1fr auto;
	grid-template-rows: auto;
	color: #033B61;
	margin: 20px auto 40px;
	font-size: 11px;
}

.prices__tables.pricesMobile {
	display: grid;
}

.prices__tablesRow {
	padding: 10px 5px;
	border-bottom: 1px solid #b8b8b8;
}

.prices__tablesRow.noPricesMobile {
	display: none;
}

.prices__tablesRow .star {
	display: inline-block;
	background-image: url(../images/star.png);
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 5px;
}

.prices__tablesHeader {
	padding: 10px 5px;
	border-bottom: 1px solid;
	font-weight: bold;
}

.prices__tablesHeader.noPricesMobile {
	display: none;
}

.prices__text {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 14px;
	line-height: 1.6;
	padding-bottom: 15px;
}

.actions__list {
	color: #033B61;
}

.actions__list li {
	line-height: 1.86;
}

.actions__list li:before {
	content: '';
	display: inline-block;
	background-image: url(../images/star.png);
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 2rem;
	margin-right: 10px;
}

.program {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 70px 10px 80px;
}

.program__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin: 20px 0 40px;
}

.program__text {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 16px;
	line-height: 1.6;
}

.program__content {
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.program__content h2 {
	font-size: 22px;
	font-weight: normal;
	margin: 35px 0 10px;
	color: #e63742;
	text-align: center;
}

.program__content h3 {
	color: #033B61;
	font-size: 18px;
	font-style: italic;
	display: inline-block;
	font-weight: normal;
	vertical-align: top;
	margin-bottom: 10px;
}

.program__block {
	margin-top: 20px;
}

.program__desc {
	display: inline-block;
	white-space: normal;
	color: #033B61;
}

.program__price {
	font-size: 18px;
	font-weight: bold;
	color: #033B61;
	margin-top: 5px;
}

.program__blockTitle {
	font-size: 22px;
	text-align: center;
	background-color: #e63742;
	color: #fff;
	padding: 12px 0 15px;
	margin-bottom: 15px;
}

.program__buttons {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 40px auto;
	max-width: 1200px;
	width: 100%;
}

.program__btnDesk {
	padding-bottom: 10px;
	color: #033B61;
	font-size: 16px;
}

.program__list {
	text-align: justify;
	margin-bottom: 22px;
	padding-left: 40px;
	margin-top: 5px;
}

.program__list li {
	text-align: left;
	font-size: 16px;
	color: #033B61;
	position: relative;
	margin: 10px 0;
}

.program__list li:before {
	content: "❄";
	position: absolute;
	left: -29px;
	top: 0;
	line-height: 1;
	font-weight: bold;
	font-size: 25px;
}

.program__link {
	font-size: 16px;
	color: #e63742;
	text-decoration: underline;
}

.program__priceTable {
	display: grid;
	grid-template-columns: 100px 200px;
	grid-column-gap: 10px;
}

.programs {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 70px 0 80px;
}

.programs__shortList {
	color: #1a1a1a;
	padding: 10px 0;
}

.programs__shortList li {
	margin-left: 2rem;
	list-style-type: disc;
}

.programs__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin: 20px 0 40px;
}

.programs__content {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.programs__blockTitle {
	font-size: 20px;
	text-align: center;
	background-color: #e63742;
	color: #fff;
	padding: 12px 0 15px;
	margin-bottom: 15px;
}

.programs__block {
	background-color: #fff;
	padding: 10px;
	border: 2px solid #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.programs__block p {
	text-indent: 18px;
	color: #1A1A1A;
	text-align: justify;
	font-size: 14px;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.programs__btnBlock {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 10px 0 0;
}

.programs__btn {
	font-size: 14px;
	text-align: center;
	background-color: #e63742;
	color: #fff;
	padding: 6px 5px 7px;
}

.programs__btn:last-child {
	background-color: #6996ab;
}

.about {
	max-width: 1200px;
	margin: 20px auto;
}

.about__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	margin-bottom: 40px;
}

.about__text {
	text-indent: 18px;
	color: #033B61;
	text-align: justify;
	font-size: 16px;
	padding: 15px;
	line-height: 1.6;
}

.about__text a {
	text-decoration: underline;
	color: #47a4b5;
}

.advantage {
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 20px 0 100px;
}

.advantage__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.advantage__block {
	margin-top: 40px;
	text-align: right;
}

.advantage__list {
	width: 100%;
	display: inline-block;
	text-align: left;
}

.advantage__content {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.advantage__contentWrapper {
	background-color: rgba(109, 132, 161, 0.68);
	color: #fff;
	padding: 10px;
}

.advantage__contentTitile {
	font-size: 20px;
	font-weight: bold;
}

.advantage__text {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 80px);
}

.advantage__contentIcon {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	background-image: url(../images/confetti.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
	height: 92px;
}

.advantage__contentIcon--1 {
	background-image: url(../images/dedM.png);
}

.advantage__contentIcon--2 {
	background-image: url(../images/gift.png);
}

.advantage__contentIcon--3 {
	background-image: url(../images/bulbs.png);
}

.advantage__contentIcon--4 {
	background-image: url(../images/bow.png);
}

.footer {
	position: relative;
	padding: 30px 0 40px;
	background-color: #e43a46;
}

.footer__content {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background-image: url(../images/bg_part-top.png);
	width: 100%;
	height: 59px;
	bottom: 100%;
}

.footer__logo {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer__icon {
	fill: #fff;
	width: 77px;
}

.footer__logoText {
	color: #fff;
	font-size: 22px;
	padding-left: 15px;
	letter-spacing: 2px;
	display: -ms-flexbox;
	display: flex;
}

.footer__navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	margin: 0 auto;
}

.footer__navigation a {
	display: inline-block;
	width: 30%;
	letter-spacing: 1px;
	color: #fff;
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: 5px;
}

.footer__contact {
	text-align: center;
}

.footer__phone {
	display: block;
	color: #fff;
	margin-bottom: 10px;
}

.footer__mail {
	display: block;
	color: #fff;
	margin-bottom: 10px;
}

.footer__post {
	display: inline-block;
	text-align: center;
	background-color: #fff;
	color: #e63742;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	padding: 10px 20px 7px;
	border-radius: 2px;
	margin: 0 auto;
}

.footer__metrik {
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
}

.footer__metrik .metrik {
	padding-left: 15px;
}

.triptych__ImgBlock {
	position: relative;
	height: 100%;
}

.triptych__link {
	display: block;
	position: relative;
	height: 100%;
}

.triptych__link img {
	width: 100%;
	height: 100%;
	display: block;
	opacity: 1;
}

.triptych__link:after {
	content: '';
	display: block;
	position: absolute;
	border: 3px solid #f55050;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.3s all;
	z-index: 2;
}

.triptych__link:before {
	content: '';
	display: block;
	position: absolute;
	border: 0px solid #fff;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.3s all;
	z-index: 2;
}

.triptych__link:hover {
	padding: 22px;
	transition: 0.3s padding;
}

.triptych__link:hover:after {
	opacity: 1;
	transition: 0.3s all;
}

.triptych__link:hover:before {
	border: 22px solid rgba(255, 255, 255, 0.8);
	width: calc(100% - 44px);
	height: calc(100% - 44px);
	top: 0;
	transition: 0.3s all;
}

.triptych__link:hover img {
	opacity: 0.7;
}

.triptych__title {
	position: absolute;
	left: 50%;
	bottom: 30px;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	background: rgba(242, 36, 36, 0.81);
	background-color: #f55050;
	color: white;
	line-height: 24px;
	padding: 10px 20px;
	width: 100%;
	max-width: 74%;
}

.triptych__priceBlock {
	position: absolute;
}

.gallery {
	max-width: 1200px;
	margin: 20px auto;
}

.gallery__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	margin-bottom: 40px;
}

.gallery__block {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
}

.gallery__column {
	display: none;
}

.gallery__column--4 {
	grid-template-rows: 0 0 50px;
	display: grid;
}

.gallery__column--4 a:first-child {
	display: none;
}

.gallery__column--4 a:nth-child(2) {
	display: none;
}

.gallery__img {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	display: block;
}

.gallery__link {
	position: relative;
	display: block;
	border-radius: 2px;
}

.gallery__link:after {
	content: '';
	position: absolute;
	display: block;
	background-image: url("../images/snowflake.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.gallery__link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #e63742;
	opacity: 0;
}

.gallery__link:hover:after {
	opacity: 1;
	transition: 0.3s all;
}

.gallery__link:hover:before {
	opacity: 0.4;
	transition: 0.3s all;
}

.gallery__more {
	background-color: #e63742;
	color: #fff;
	text-align: center;
	padding: 13px 0 16px;
	display: none;
	height: 50px;
}

.gallery__more.mobile {
	display: block;
	padding: 6px 0 16px;
	font-family: Lobster, sans-serif;
	font-size: 28px;
}

.header {
	position: relative;
	background-color: #fcfdff;
	padding: 0;
}

.header__mMenuIcon {
	position: fixed;
	width: 100%;
	z-index: 3;
	background-image: url(../images/menu.png);
	display: inline-block;
	background-repeat: no-repeat;
	padding: 20px;
	padding-left: 53px;
	background-size: 40px;
	background-position: 10px;
	background-color: #fcfdff;
	top: 0;
}

.header__content {
	max-width: 1200px;
	margin: 0 auto;
	display: none;
	-ms-flex-align: center;
	align-items: center;
}

.header:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 78px;
	top: 100%;
}

.header__logo {
	display: none;
	-ms-flex-align: center;
	align-items: center;
}

.header__icon {
	fill: #fff;
	width: 40px;
}

.header__logoText {
	color: #fff;
	letter-spacing: 1px;
}

.header__navigation a {
	display: inline-block;
	letter-spacing: 1px;
	color: #fff;
	font-size: 16px;
	padding: 10px 0;
}

.header__contact {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}

.header__phone {
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.header__vk {
	color: #fff;
	background-color: #e63742;
	display: inline-block;
	width: 34px;
	height: 34px;
	padding: 5px 0;
	text-align: center;
	font-weight: bold;
	border-radius: 2px;
	margin-left: 10px;
	border: 2px solid #fff;
	font-size: 0;
	background-image: url(../images/vk.png);
	background-size: 65%;
	background-position: center;
	background-repeat: no-repeat;
}

.header__post {
	display: block;
	text-align: center;
	background-color: #fff;
	color: #e63742;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	padding: 5px 4px 5px;
	border-radius: 2px;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.header__select {
	position: relative;
}

.header__selectList {
	z-index: 3;
	position: absolute;
	display: none;
	background-color: #e63742;
	padding-top: 10px;
	left: -10px;
	top: 40px;
	border: 1px solid #e63742;
}

.header__selectList a {
	padding: 10px;
	display: block;
	border-bottom: 1px solid #fff;
}

.header__selectList a:last-child {
	border: none;
}

.header__selectList a:hover {
	text-decoration: underline;
	background: #fff;
	color: #e63742;
}

.mobile {
	display: none;
}

.noMobile {
	display: inline-block;
}

.inHome {
	padding: 20px 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0px;
}

.inHome__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919A;
}

.inHome__desc {
	text-align: center;
	font-size: 18px;
	color: #fff;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 40px;
}

.inHome__block {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 40px;
	max-width: 1200px;
}

.photo {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px 70px;
}

.photo__title {
	text-align: center;
	font-family: Lobster, sans-serif;
	font-weight: normal;
	font-size: 30px;
	color: #85919a;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin: 20px auto 40px;
}

.photo__block {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

.photo__column {
	display: grid;
	grid-row-gap: 20px;
	grid-template-rows: auto;
}

.photo__img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	display: block;
}

.photo__link {
	position: relative;
	display: block;
	border-radius: 2px;
	overflow: hidden;
}

.photo__link:after {
	content: '';
	position: absolute;
	display: block;
	background-image: url("../images/snowflake.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.photo__link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #e63742;
	opacity: 0;
}

.photo__link:hover:after {
	opacity: 1;
	transition: 0.3s all;
}

.photo__link:hover:before {
	opacity: 0.4;
	transition: 0.3s all;
}

.photo__more {
	background-color: #e63742;
	color: #fff;
	text-align: center;
	padding: 13px 0 16px;
	display: none;
	height: 50px;
}

.photo__more.mobile {
	display: block;
}

.inHomeBlock {
	background: #fff;
	color: #1A1A1A;
	position: relative;
	padding-bottom: 130px;
	border-radius: 2px;
}

.inHomeBlock * {
	color: #1A1A1A;
	font-size: 14px;
}

.inHomeBlock__title {
	background-color: rgba(242, 36, 36, 0.81);
	color: #fff;
	text-align: center;
	font-family: Lobster, sans-serif;
	font-size: 28px;
	font-weight: normal;
	padding: 12px 0 15px;
}

.inHomeBlock__desc {
	color: #1A1A1A;
	width: 90%;
	margin: 10px auto 20px;
}

.inHomeBlock__icons {
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 0;
}

.inHomeBlock__time {
	display: inline-block;
	width: 100%;
}

.inHomeBlock__time span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 14px;
}

.inHomeBlock__time:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url("../images/wall-clock.png");
	background-size: contain;
	width: 32px;
	height: 32px;
}

.inHomeBlock__time.child:before {
	background-image: url("../images/child.png");
}

.inHomeBlock__listBlock {
	max-width: 90%;
	margin: 15px auto;
}

.inHomeBlock__listTitle {
	text-align: left;
	font-family: Lobster, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 5px;
}

.inHomeBlock__content {
	padding-left: 5px;
}

.inHomeBlock__content .icon {
	display: inline-block;
	vertical-align: middle;
	background-image: url("../images/checked.png");
	background-size: contain;
	width: 20px;
	height: 20px;
}

.inHomeBlock__content .text {
	display: inline-block;
	vertical-align: middle;
	padding: 7px;
	padding-left: 10px;
}

.inHomeBlock__priceBlock {
	position: absolute;
	bottom: 15px;
	left: 5%;
	width: 90%;
	font-size: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	-ms-flex-align: center;
	align-items: center;
}

.inHomeBlock__price {
	display: block;
	text-align: center;
	vertical-align: middle;
}

.inHomeBlock__price span {
	display: block;
	text-decoration: underline;
}

.inHomeBlock__price span.big {
	font-weight: 700;
	font-size: 22px;
	text-decoration: none;
}

.inHomeBlock__btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(242, 36, 36, 0.8);
	color: #fff;
	padding: 13px 0 16px;
	font-size: 16px;
	border-radius: 2px;
}

.allContent__wrapper {
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (min-width: 340px) {

.prices__tables {
	font-size: 13px;
}

}

@media (min-width: 425px) {

.program__priceTable {
	grid-template-columns: 115px 240px;
}

}

@media (min-width: 768px) {

.index__title:after {
	display: inline-block;
	margin-left: 10px;
	width: 150px;
}

.index__title:before {
	display: inline-block;
	margin-right: 10px;
	width: 150px;
}

.index__triptych {
	padding: 100px 0;
	max-width: 700px;
	grid-template-columns: 220px 220px 220px;
	grid-row-gap: 0;
	grid-column-gap: 20px;
}

.blog {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.blog__post {
	white-space: nowrap;
}

.blog__postContent {
	padding-left: 15px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	padding-left: 15px;
	width: calc(100% - 160px);
}

.contacts {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding: 30px 0 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.invite {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding: 30px 0 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.photo_gallery {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.prices {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.prices__title.pricesMobile {
	display: none;
}

.prices__listContent {
	font-size: 18px;
}

.prices__tables {
	grid-template-columns: auto 1fr 1fr 1fr 1fr;
	margin: 40px auto;
	font-size: 14px;
}

.prices__tables.pricesMobile {
	display: none;
}

.prices__tables--middle {
	grid-template-columns: 1fr 1fr 1fr;
	margin: 40px auto;
}

.prices__tablesRow.noPricesMobile {
	display: block;
}

.prices__tablesRow:nth-child(5n-4) {
	padding-right: 15px;
}

.prices__tablesRow:nth-child(5n-3) {
	padding-right: 15px;
}

.prices__tablesHeader.noPricesMobile {
	display: block;
}

.prices__text {
	font-size: 16px;
}

.program {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.program__buttons {
	grid-template-columns: 1fr 1fr 1fr;
}

.programs {
	background-image: url("../images/16a.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding: 70px 10px 80px;
}

.programs__btnBlock {
	grid-template-columns: 1fr 1fr 1fr;
}

.about {
	margin: 40px auto 80px;
	padding: 0 20px;
}

.advantage__contentTitile {
	font-size: 22px;
}

.footer {
	padding: 30px 20px;
	padding-left: 10px;
}

.footer__content {
	-ms-flex-pack: start;
	justify-content: start;
	grid-row-gap: 0;
	grid-template-columns: 1fr 2fr 1fr;
	grid-column-gap: 40px;
}

.footer__logo {
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.footer__logoText {
	display: block;
}

.footer__navigation {
	width: 100%;
	grid-template-columns: 1fr 1fr 0.7fr;
}

.footer__contact {
	text-align: left;
}

.footer__post {
	margin: 0;
}

.gallery {
	margin: 40px auto 80px;
	padding: 0 20px;
}

.gallery__block {
	grid-template-columns: 1fr 1fr;
}

.gallery__column {
	display: grid;
	grid-row-gap: 20px;
	grid-template-rows: 200px 200px 200px;
	margin-bottom: 20px;
}

.gallery__column a {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery__column a:first-child {
	background-image: url("../images/photo/20_s.jpg");
}

.gallery__column a:nth-child(2) {
	background-image: url("../images/photo/29_s.jpg");
}

.gallery__column a:last-child {
	background-image: url("../images/photo/3_s.jpg");
}

.gallery__column--2 {
	grid-template-rows: 370px 250px;
}

.gallery__column--2 a:first-child {
	background-image: url("../images/photo/25_s.jpg");
}

.gallery__column--2 a:last-child {
	background-image: url("../images/photo/7_s.jpg");
}

.gallery__column--3 {
	grid-template-rows: 190px 220px 190px;
}

.gallery__column--3 a:first-child {
	background-image: url("../images/photo/12_s.jpg");
}

.gallery__column--3 a:nth-child(2) {
	background-image: url("../images/photo/26_s.jpg");
}

.gallery__column--3 a:last-child {
	background-image: url("../images/photo/9_s.jpg");
}

.gallery__column--4 {
	grid-template-rows: 250px 300px 50px;
}

.gallery__column--4 a:first-child {
	background-image: url("../images/photo/11_s.jpg");
	display: block;
}

.gallery__column--4 a:nth-child(2) {
	background-image: url("../images/photo/22_s.jpg");
	display: block;
}

.gallery__column--4 a:last-child {
	background: rgba(242, 36, 36, 0.8);
}

.gallery__more {
	display: block;
}

.gallery__more.mobile {
	display: none !important;
}

.inHome {
	padding: 40px 0 100px;
	background-image: url("../images/bg_2.jpg");
	background-color: #429daf;
}

.inHome__title {
	font-size: 30px;
	color: #fff;
}

.inHome__block {
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	margin: 0 10px;
}

.photo {
	padding: 0 20px;
}

.photo__block {
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.photo__column {
	grid-template-rows: 150px 150px 150px 150px;
	padding-bottom: 20px;
}

.photo__column--2 {
	grid-template-rows: 270px 150px 200px;
}

.photo__column--3 {
	grid-template-rows: 120px 150px 180px 150px;
}

.photo__column--4 {
	grid-template-rows: 180px 190px 250px;
}

.photo__column--5 {
	grid-template-rows: 220px 120px 150px 110px;
}

.photo__column--6 {
	grid-template-rows: 180px 250px 190px;
}

.photo__img {
	-o-object-fit: cover;
	object-fit: cover;
}

.photo__more {
	display: block;
}

.photo__more.mobile {
	display: none;
}

.inHomeBlock {
	padding-bottom: 75px;
}

.inHomeBlock__icons {
	width: 90%;
}

.inHomeBlock__time {
	width: 50%;
}

.inHomeBlock__listBlock {
	width: 90%;
}

.inHomeBlock__priceBlock {
	left: 5%;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 0;
	grid-column-gap: 20px;
}

.inHomeBlock__price span.big {
	font-size: 18px;
}

}

@media (min-width: 1024px) {

.index__title {
	margin: 130px 0 20px;
	font-size: 48px;
}

.index__title:after {
	width: 280px;
}

.index__title:before {
	width: 280px;
}

.contacts__img {
	display: block;
}

.photo_gallery {
	padding: 0 0 80px;
}

.programs__content {
	grid-template-columns: 1fr 1fr 1fr;
}

.programs__btnBlock {
	grid-template-columns: 1fr;
}

.footer {
	padding: 30px 0;
}

.header {
	background-color: #e63742;
	padding: 10px 0;
}

.header__mMenuIcon {
	display: none !important;
}

.header__content {
	display: grid;
	grid-template-columns: 0.9fr 2fr 1.2fr;
	grid-column-gap: 20px;
}

.header__logo {
	display: -ms-flexbox;
	display: flex;
}

.header__logoText {
	font-size: 19px;
	padding-left: 10px;
}

.header__navigation {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: auto auto auto auto auto auto;
}

.header__navigation a {
	font-size: 15px;
}

.header__contact {
	margin-right: 10px;
}

.header__phone {
	font-size: 16px;
}

}

@media (min-width: 1200px) {

.index__triptych {
	max-width: 770px;
	grid-template-columns: 230px 230px 230px;
	grid-column-gap: 40px;
}

.advantage {
	background-image: url("../images/36.jpg");
	padding: 40px 0 100px;
	background-attachment: fixed;
}

.advantage__list {
	max-width: 700px;
	width: 50%;
}

.gallery__block {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header__select:hover > .header__selectList {
	display: block;
}

.photo__block {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

}

@media (min-width: 1240px) {

.blog {
	padding: 0 0 80px;
}

.contacts__content {
	padding: 0;
}

.invite__content {
	padding: 0;
}

.invite__textBlock {
	max-width: calc(100% - 560px);
}

.prices {
	padding: 0px 0 80px;
}

.program {
	padding: 0 0 80px;
}

.programs {
	padding: 0 0 80px;
}

.programs__blockTitle {
	font-size: 22px;
}

.programs__btnBlock {
	grid-template-columns: 1fr 1fr 1fr;
}

.about {
	padding: 0;
}

.about__text {
	font-size: 18px;
	padding: 0;
}

.gallery {
	padding: 0;
}

.gallery__column {
	margin-bottom: 0;
}

.header__logoText {
	font-size: 20px;
	padding-left: 15px;
}

.header__navigation a {
	font-size: 16px;
}

.header__contact {
	margin-right: 0;
}

.header__phone {
	font-size: 17px;
}

.inHome__block {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 40px;
	margin: 0 auto;
}

.photo {
	padding: 0;
}

.photo__column {
	padding-bottom: 0;
}

.inHomeBlock__price span.big {
	font-size: 20px;
}

}

@media (min-width: 1280px) {

.prices__tables {
	font-size: 16px;
}

.prices__text {
	font-size: 18px;
}

}

@media (max-width: 1023px) {

.mobile {
	display: inline-block;
}

.noMobile {
	display: none;
}

.header__mMenu:checked ~ .header__mMenuIcon {
	background-image: url(../images/menu_open.png);
	background-color: #e63742;
	display: block;
	color: #fff;
	max-width: 320px;
}

.header__mMenu:checked ~ .header__content {
	display: block;
	background-color: #e63742;
	position: fixed;
	top: 60px;
	width: 100%;
	z-index: 3;
	max-width: 320px;
}

.header__mMenu:checked ~ .header__content .header__navigation {
	display: block;
	padding: 10px;
	padding-top: 0;
	margin-top: -1px;
}

.header__mMenu:checked ~ .header__content .header__navigation a {
	display: block;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #fff;
}

.header__mMenu:checked ~ .header__content .header__contact {
	padding: 10px;
}

.header__mMenu:checked ~ .header__content .header__contact .header__phone {
	font-size: 14px;
}

.header__mMenu:checked ~ .header__content .header__selectList.mobile {
	position: relative;
	display: block;
	left: 0;
	top: 0;
	padding: 0;
}

a.mobile {
	display: inline-block !important;
}

a.noMobile {
	display: none !important;
}

}

