.inHome{
  padding: 20px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0px;

  @media(min-width:768px) {
    padding: 40px 0 100px;
    background-image: url("../images/bg_2.jpg");
    background-color: #429daf;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919A;

    @media(min-width:768px) {
      font-size: 30px;
      color: #fff;
    }
  }

  &__desc{
    text-align: center;
    font-size: 18px;
    color: #fff;
    color: rgba(255, 255, 255, 0.70);
    margin-bottom: 40px;
  }

  &__block{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    max-width: 1200px;
    
    @media(min-width:768px) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      margin: 0 10px;
    }

    @media(min-width:1240px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
      margin: 0 auto;
    }
  }
}