.blog {
  flex-grow: 1;
  padding: 70px 10px 80px;

  @media(min-width: 768px) {
    background-image: url("../images/16a.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }

  @media(min-width: 1240px) {
    padding: 0 0 80px;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin: 20px 0 40px;

  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    flex-grow: 1;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 10px;
      color: #033B61;
    }

    h3 {
      color: #033B61;
      font-size: 18px;
      font-style: italic;
      display: inline-block;
      font-weight: normal;
      vertical-align: top;
      margin-bottom: 10px;
    }
  }

  &__post {
    padding: 10px 0 20px;
    border-bottom: 2px solid #e43a46;
    position: relative;

    @media(min-width: 768px) {
      white-space: nowrap;
    }
  }

  &__text {
    text-indent: 18px;
    color: #033B61;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  &__postContent {
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    padding-bottom: 30px;

    @media(min-width: 768px) {
      padding-left: 15px;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      padding-left: 15px;
      width: calc(100% - 160px);
    }
  }

  &__postImg {
    display: inline-block;
    vertical-align: top;
  }

  &__postDesc {
    color: #033B61;
    white-space: normal;
  }

  &__postBtn {
    color: #033B61;
    position: absolute;
    bottom: 20px;
    font-weight: bold;
  }

  &__photo {

  }

  &__photoLink {
    padding: 10px;
    border: 1px solid;
    display: inline-block;
    margin: 10px;
    border-radius: 2px;
    color: #033B61;
  }

  &__photoImg {

  }
}