.contacts {
  flex-grow: 1;


  @media(min-width: 768px) {
    background-image: url("../images/16a.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0 80px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin-bottom: 40px;

  }

  &__content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 90px;

    @media(min-width: 1240px) {
      padding: 0;
    }
  }

  &__text {
    text-indent: 18px;
    color: #033B61;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
  }

  &__textLink{
    color: #033B61;
    text-decoration: underline;
  }

  &__block{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img{
    display: none;
    position: absolute;
    width: 36%;
    right: 20px;
    top: 20px;

    @media(min-width: 1024px) {
      display: block;
    }
  }

  &__blockCell{
    padding: 10px 0;
  }

  &__blockTitle{
    font-size: 24px;
  }

  &__blockLink{
    display: block;
    font-size: 24px;
    color: #033B61;

    &.link{
      text-decoration: underline;
    }
  }
}