.index {

  &__header {
    background-image: url("../images/bg_1.jpg");
    text-align: center;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 80px 0 10px;
    vertical-align: middle;

    @media(min-width:1024px) {
      margin: 130px 0 20px;
      font-size: 48px;
    }

    &:after {
      content: '';
      display: block;
      width: 280px;
      height: 4px;
      background-color: $myRed;
      vertical-align: middle;
      margin: 0 auto;
      background: linear-gradient(to right,  $myRed, rgba(238, 29, 36, 0));

      @media(min-width:768px) {
        display: inline-block;
        margin-left: 10px;
        width: 150px;
      }

      @media(min-width:1024px) {
        width: 280px;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 280px;
      height: 4px;
      background-color:  $myRed;
      vertical-align: middle;
      margin: 0 auto;
      background: linear-gradient(to right, rgba(238, 29, 36, 0),  $myRed);

      @media(min-width:768px) {
        display: inline-block;
        margin-right: 10px;
        width: 150px;
      }
      
      @media(min-width:1024px) {
        width: 280px;
      }
    }
  }

  &__desc {
    font-family: Lobster, sans-serif;
    font-size: 24px;
    color: #85919A;

  }

  &__triptych {
    display: grid;
    margin: 0 auto;
    padding: 50px 0;
    grid-template-columns: 280px;
    justify-content: center;
    grid-row-gap: 20px;

    @media(min-width:768px) {
      padding: 100px 0;
      max-width: 700px;
      grid-template-columns: 220px 220px 220px;
      grid-row-gap: 0;
      grid-column-gap: 20px;
    }
    
    @media(min-width:1200px) {
      max-width: 770px;
      grid-template-columns: 230px 230px 230px;
      grid-column-gap: 40px;
    }
  }

  &__textBlock{
    padding:60px 0;
    background-color:  $myRed;
    position: relative;

    &:before{
      content: '';
      display: block;
      position: absolute;
      background-image: url(../images/bg_part-top.png);
      width: 100%;
      height: 59px;
      bottom: 100%;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      background-image: url(../images/bg_part-bot.png);
      width: 100%;
      height: 59px;
      top: 100%;
    }
  }

  &__textContent{
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;

    p{
      text-indent: 18px;
      font-size: 18px;
      font-weight: 300;
    }
  }
}