.invite {
  flex-grow: 1;


  @media(min-width: 768px) {
    background-image: url("../images/16a.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0 80px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin-bottom: 40px;

  }

  &__content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 90px;

    @media(min-width: 1240px) {
      padding: 0;
    }
  }

  &__text {
    text-indent: 18px;
    color: #033B61;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;

    a{
      font-weight: bold;
      color: #033B61;
    }

    &--desc{
      text-indent: 0px;
      margin:  20px 0;
    }

    &--right{
      display: inline-block;


    }
  }

  &__textStar{
    color: #e43a46;
  }

  &__formBlock{
    display: inline-block;
    margin: 20px 0;
    max-width: 550px;
    padding: 10px;
    background-image: repeating-linear-gradient(135deg, #f02755 0px, #f02755 10px, #fff 10px,
            #fff 20px, #55a5d6 20px, #55a5d6 30px, #fff 30px, #fff 40px);
  }

  &__textBlock{
    display: inline-block;
    margin: 20px 0;
    padding-left: 40px;
    vertical-align: top;
    @media(min-width: 1240px) {
      max-width: calc(100% - 560px);
    }
  }

  &__form{
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input{
    display: inline-block;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-bottom: 2px solid #55a5d6;
    margin-bottom: 20px;

    &.error{
      border-bottom: 2px solid #e43a46;
      outline-color: #e43a46;
    }


  }

  &__mail{
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-bottom: 2px solid #55a5d6;
    min-width: 100%;
    max-width:100%;
    min-height: 250px;
    overflow-y: hidden;

    &.error{
      border-bottom: 2px solid #e43a46;
      outline-color: #e43a46;
    }
  }

  &__btnBlock{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 0;
  }

  &__btn{
    border: none;
    font-size: 16px;
    text-align: center;
    background-color: #e43a46;
    color: #fff;
    padding: 8px 15px 9px;
    font-family: "RobotoSlab";
    font-weight: normal;

  }

  &__message{
    flex-grow: 1;
    padding-right: 20px;
    font-size: 16px;
    align-self: center;
  }

  #message{
    background-color: #fff;
    padding: 20px;
    display: none;
    min-height: 400px;
    width: 100%;

    &.active{
      display: flex;
    }

    .otvet {
      text-align: center;
      font-family: Lobster, sans-serif;
      font-weight: normal;
      font-size: 30px;
      color: #4CAF50;
      width: 100%;
      align-self: center;
    }
  }
}

