@import "../blocks/mixin.scss";

@import "variables";
@import "global";

@import "index";
@import "blog";
@import "contacts";
@import "invite";
@import "photo_gallery";
@import "prices";
@import "program";
@import "programs";

@import "../blocks/about/about";
@import "../blocks/advantage/advantage";
@import "../blocks/footer/footer";
@import "../blocks/triptych/triptych";
@import "../blocks/gallery/gallery";
@import "../blocks/header/header";
@import "../blocks/inHome/inHome";
@import "../blocks/photo/photo";
@import "../blocks/inHomeBlock/inHomeBlock";


.allContent{
  &__wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
}

