.photo_gallery{
    padding:  70px 0 80px;

    @media(min-width: 768px) {
        background-image: url("../images/16a.jpg");
        background-size: cover;
        background-attachment: fixed;

      }

    @media(min-width: 1024px) {
        padding:  0 0 80px;
    }
}