.prices {
    flex-grow: 1;
    padding: 80px 10px 90px;

    @media(min-width: 768px) {
        background-image: url("../images/16a.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    @media(min-width: 1240px) {
        padding: 0px 0 80px;
    }

    &__title {
        text-align: center;
        font-family: Lobster, sans-serif;
        font-weight: normal;
        font-size: 30px;
        color: #85919a;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        margin:20px 0 40px;

        &--h2{
            margin: 20px 0;
            font-size: 22px;
            color: #e43a46;

            &.actions{
                font-family: "RobotoSlab";
                font-size: 24px;
                font-weight: bold;
                margin: 15px 0 5px;
                color: #033B61;
            }
        }

        &.pricesMobile {
            display: block;

            @media(min-width: 768px) {
                display: none;
            }
        }
    }

    &__content{
        max-width: 1200px;
        margin: 0 auto;
    }

    &__listContent{
        text-indent: 18px;
        color: #033B61;
        text-align: justify;
        font-size: 16px;
        line-height: 1.6;

        a {
            font-weight: bold;
            color: #033B61;
        }

        @media(min-width: 768px) {
            font-size: 18px;
        }
    }

    &__tables{
        display: grid;
        grid-template-columns: auto  1fr auto;
        grid-template-rows: auto;
        color: #033B61;
        margin: 20px auto 40px;
        font-size: 11px;

        @media(min-width: 340px) {
        font-size: 13px;
        }

        @media(min-width: 768px) {
            grid-template-columns: auto 1fr 1fr 1fr 1fr;
            margin: 40px auto;
            font-size: 14px;
        }

        @media(min-width: 1280px) { 
            font-size: 16px;
        }

        &.pricesMobile{
            display: grid;

            @media(min-width: 768px) {
                display: none;
            }
        }

        &--middle{
            @media(min-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
                margin: 40px auto;
            }
        }
    }

    &__tablesRow{
        padding: 10px 5px;
        border-bottom: 1px solid #b8b8b8;


        &.noPricesMobile{
            display: none;

            @media(min-width: 768px) {
                display: block;
                
            }
        }

        @media(min-width: 768px) { 
            &:nth-child(5n-4) {
                padding-right: 15px;
            }
            &:nth-child(5n-3) {
                padding-right: 15px;
            }
        }

        .star{
            display: inline-block;
            background-image: url(../images/star.png);
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 5px;
        }

        //&.red{
        //    color: $myRed;
        //}
    }

    &__tablesHeader{
        padding: 10px 5px;
        border-bottom: 1px solid ;
        font-weight: bold;

        &.noPricesMobile{
            display: none;

            @media(min-width: 768px) {
                display: block;
            }
        }
    }

    &__text {
        text-indent: 18px;
        color: #033B61;
        text-align: justify;
        font-size: 14px;
        line-height: 1.6;
        padding-bottom: 15px;

        @media(min-width: 768px) {
            font-size: 16px;
        }

        @media(min-width: 1280px) { 
            font-size: 18px;
        }
    }
}

.actions__list{
    color: #033B61;

    li{
        line-height: 1.86;

        &:before{
            content: '';
            display: inline-block;
            background-image: url(../images/star.png);
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 2rem;
            margin-right: 10px;
        }
    }
}