.programs{
  flex-grow: 1;
  padding:  70px 0 80px;

  @media(min-width: 768px) {
    background-image: url("../images/16a.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding:  70px 10px 80px;
  }

  @media(min-width: 1240px) {
    padding: 0 0 80px;
  }

  &__shortList{
    color: #1a1a1a;
    padding: 10px 0;

    li{
      margin-left: 2rem;
      list-style-type: disc;
    }
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin: 20px 0 40px;

  }

  &__content{
    max-width: 1200px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media(min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__blockTitle{
    font-size: 20px;
    text-align: center;
    background-color: $myRed;
    color: #fff;
    padding: 12px 0 15px;
    margin-bottom: 15px;

    @media(min-width: 1240px) {
      font-size: 22px;
    }
  }

  &__block{
    background-color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;

    p{
      text-indent: 18px;
      color: #1A1A1A;
      text-align: justify;
      font-size: 14px;
      flex-grow: 1;

    }
  }

  &__btnBlock{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px 0 0;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media(min-width: 1024px) {
      grid-template-columns:1fr;
    }

    @media(min-width: 1240px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__btn{
    font-size: 14px;
    text-align: center;
    background-color: $myRed;
    color: #fff;
    padding: 6px 5px 7px;

    &:last-child{
      background-color: #6996ab;
    }
  }

  &__textLink {

  }
}