.program {
  flex-grow: 1;
  padding:  70px 10px 80px;

  @media(min-width: 768px) {
    background-image: url("../images/16a.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }

  @media(min-width: 1240px) {
    padding:  0 0 80px;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin: 20px 0 40px;

  }

  &__text {
    text-indent: 18px;
    color: #033B61;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    flex-grow: 1;

    h2 {
      font-size: 22px;
      font-weight: normal;
      margin: 35px 0 10px;
      color: $myRed;
      //text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      text-align: center;
    }

    h3 {
      color: #033B61;
      font-size: 18px;
      font-style: italic;
      display: inline-block;
      font-weight: normal;
      vertical-align: top;
      margin-bottom: 10px;
    }
  }

  &__block {
    //  white-space: nowrap;
    margin-top: 20px;
  }

  &__desc {
    display: inline-block;
    white-space: normal;
    color: #033B61;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
    color: #033B61;
    margin-top: 5px;
  }

  &__blockTitle {
    font-size: 22px;
    text-align: center;
    background-color: $myRed;
    color: #fff;
    padding: 12px 0 15px;
    margin-bottom: 15px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 40px auto;
    max-width: 1200px;
    width: 100%;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__btnDesk {
    padding-bottom: 10px;
    color: #033B61;
    font-size: 16px;
  }

  &__list {
    text-align: justify;
    margin-bottom: 22px;
    padding-left: 40px;
    margin-top: 5px;

    li {
      text-align: left;
      font-size: 16px;
      color: #033B61;
      position: relative;
      margin: 10px 0;

      &:before {
        content: "❄";
        position: absolute;
        left: -29px;
        top: 0;
        line-height: 1;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }

  &__link {
    font-size: 16px;
    color: $myRed;
    text-decoration: underline;
  }

  &__priceTable {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-column-gap: 10px;

    @media(min-width: 425px) {
      grid-template-columns: 115px 240px;
    }
  }

}