@font-face{
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


$indent: 7;

$font-size: 16;


$mainFont: 'RobotoSlab';
$secondFont: 'Lobster';

$myRed: #e63742;

$primaryColor: $myRed;


h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
h2{
  font-size: 1.8rem;
}
h3,h4,h5,h6{
  font-size: 1.3rem;
}

.mySVG{
  display: none;
}

.ic-2{
  stroke: #000;
  fill: #fff;
}
