.photo
    h1.photo__title Наш Фотоальбом
    .photo__block
        .photo__column.photo__column--1
            a(href="./images/photo/12.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/12.jpg" alt="Дед Мороз и Снегурочка").photo__img
            a(href="./images/photo/29.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/29_s.jpg" alt="Дед Мороз и Снегурочка").photo__img
            a(href="./images/photo/8.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/8_s.jpg" alt="Дед Мороз и Снегурочка").photo__img
            a(href="./images/photo/10.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/10_s.jpg" alt="Дед Мороз и Снегурочка").photo__img
        .photo__column.photo__column--2
            a(href="./images/photo/5.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/5_s.jpg" alt="Дед Мороз и Снегурочка").photo__img
            a(href="./images/photo/31.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/31_s.jpg" alt="Дед Мороз и елка").photo__img
            a(href="./images/photo/32.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/32_s.jpg" alt="Снегурочка и елка").photo__img
        .photo__column.photo__column--3
            a(href="./images/photo/20.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/20_s.jpg" alt="Дед Мороз дарит подарок мальчику").photo__img
            a(href="./images/photo/9.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/9_s.jpg" alt="Снегурочка").photo__img
            a(href="./images/photo/24.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/24_s.jpg" alt="Дед Мороз и елка").photo__img
            a(href="./images/photo/22.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/22_s.jpg" alt="Дед Мороз и Снегурочка дарят подарок").photo__img
        .photo__column.photo__column--4
            a(href="./images/photo/25.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/25_s.jpg" alt="Дед Мороз и Снегурочки").photo__img
            a(href="./images/photo/30.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/30_s.jpg" alt="Снегурочка и елка").photo__img
            a(href="./images/photo/27.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/27_s.jpg" alt="Дед Мороз и Снегурочка").photo__img
        .photo__column.photo__column--5
            a(href="./images/photo/6.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/6_s.jpg" alt="Дед Мороз зажигает елку").photo__img
            a(href="./images/photo/21.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/21_s.jpg" alt="Дед Мороз и Снегурочка дарят подарок").photo__img
            a(href="./images/photo/28.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/28_s.jpg" alt="Дед Мороз и Елка").photo__img
            a(href="./images/photo/19.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/19_s.jpg" alt="Дед Мороз дарит подарок мальчику").photo__img
        .photo__column.photo__column--6
            a(href="./images/photo/3.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/3_s.jpg" alt="Дед Мороз готовит подарок детям").photo__img
            a(href="./images/photo/26.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/26_s.jpg" alt="Дед Мороз и елка").photo__img
            a(href="./images/photo/13.jpg" data-lightbox="example-set").photo__link
              img(src="./images/photo/13_s.jpg" alt="Дед Мороз и Снегурочка").photo__img