.photo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 70px;

  @media(min-width: 768px) {
    padding: 0 20px;
  }

  @media(min-width: 1240px) {
    padding: 0;
  }

  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin:20px auto 40px;

  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0px;

    }

    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__column {
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: auto;

    @media(min-width: 768px) {
      grid-template-rows: 150px 150px 150px 150px;
      padding-bottom: 20px;
    }

    @media(min-width: 1240px) {
      padding-bottom: 0;
    }


    &--2 {
      @media(min-width: 768px) {
        grid-template-rows: 270px 150px 200px;
      }
    }

    &--3 {
      @media(min-width: 768px) {
        grid-template-rows: 120px 150px 180px 150px;
      }
    }

    &--4 {
      @media(min-width: 768px) {
        grid-template-rows: 180px 190px 250px;
      }
    }

    &--5 {
      @media(min-width: 768px) {
        grid-template-rows: 220px 120px 150px 110px;
      }
    }

    &--6 {
      @media(min-width: 768px) {
        grid-template-rows: 180px 250px 190px;
      }
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;

    @media(min-width: 768px) {
      object-fit: cover;
    }
  }

  &__link {
    position: relative;
    display: block;
    border-radius: 2px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/snowflake.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $myRed;
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
        transition: 0.3s all;
      }

      &:before {
        opacity: 0.4;
        transition: 0.3s all;
      }
    }
  }

  &__more {
    background-color: $myRed;
    color: #fff;
    text-align: center;
    padding: 13px 0 16px;
    display: none;
    height: 50px;

    &.mobile {
      display: block;
    }

    @media(min-width: 768px) {
      display: block;

      &.mobile {
        display: none;
      }

    }
  }
}