a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}


/*----------------------------
	Основной раздел
-----------------------------*/

#note{
position: absolute;
top: 55px;
color: #0F4545;
font-size: 16px;
padding: 4px;
text-align: center;
text-shadow: 1px 1px 0 rgba(255, 255, 250, 0.3);
width: 390px;
}
