extends ../blocks/MainLayout.pug

block head
    title Новогодние игрушки из фетра для вашего дома
    meta(name="description" content="Давайте в этом году слегка отступим от традиционного представления елочки на " +
    "Новый год и украсим ее несколько иначе. ")

block content
    .blog
        h1.blog__title Новогодние игрушки из фетра, выкройки.

        .blog__content
            .blog__text.
                Давайте в этом году слегка отступим от традиционного представления елочки на Новый год и украсим ее
                несколько иначе. Мы предлагаем вам рассмотреть такую идею, как новогодние игрушки из фетра (выкройки
                красивых игрушек, фото реальных фетровых игрушек и пошаговые инструкции для ознакомления прилагаются).
                Фетр является идеальным материалом для милых игрушек. Он настолько мягкий и приятный на ощупь, что
                работать с ним – одно удовольствие.

            h2   Для создания необычных шариков на елка Вам понадобятся:

            ul.program__list
                li Листы фетра (белого цвета в данном случае)
                li Нитки (белая, серебристая или золотистая)
                li иголка
                li Ножницы
                li Картон, карандаш и циркуль (или бокал, чтобы обвести его).

            h2 Процесс изготовления:
                ul.program__list
                    li
                        b Шаг 1.
                        span  Из фетра Вам следует вырезать 8 кружочков одинакового размера. Для этого начертите на кусочке картона кружок, вырежьте этот шаблон и, на основе него, сделайте 8 кружков на фетре.
                    li
                        b Шаг  2.
                        span  Возьмите два кружочка, согните их пополам и, с помощью иголки с ниткой, соедините их друг с другом по центральному сгибу. Сделайте узел, но нитку не отрезайте (постарайтесь, чтобы узелок «спрятался» в сгибе между двумя кружочками, а не в сгибе одного кружочка).
                    li
                        b Шаг  3.
                        span  Теперь пришейте еще два кружочка, не сгибая их. Один пришейте сверху, а другой – снизу двух сшитых деталей, прошивая через шов.
                    li
                        b Шаг  4.
                        span  Вам нужно согнуть пришитые кружки и добавить еще два, прошивая их через шов (нитку все еще не отрезайте).
                    li
                        b Шаг  5.
                        span  С оставшимися кружочками проделайте ту же операцию, что и с предыдущими. Теперь, завязав узелок, нитку можно отрезать.
                    li
                        b Шаг  6.
                        span  Сделайте петельку для шарика. Для этого возьмите серебристую или золотистую нить и иглу с толстым ушком (можно разделить толстую нить на более тонкие и продеть одну из них в ушко иголки) и, начиная с середины, продвигайте иголку с серебристой ниткой вверх, а на самом верху сделайте петельку и завяжите узелок.
                    li
                        b Шаг  7.
                        span  Слегка раскройте отделы шарика, чтобы он получился более пышным.

            h2 Делаем игрушку (в картинках)
            .blog__photo
                a(href="/images/blog/fetr(1).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(1).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(2).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(2).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(3).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(3).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(4).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(4).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(5).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(5).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(6).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(6).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(7).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(7).jpg" alt="Новогодние игрушки из фетра").blog__photoImg
                a(href="/images/blog/fetr(8).jpg" data-lightbox="example-set").blog__photoLink
                    img(src="/images/blog/fetr_s(8).jpg" alt="Новогодние игрушки из фетра").blog__photoImg



