article.triptych
    .triptych__block
        figure.triptych__ImgBlock
            a(href="/dedmoroz_na_dom.html").triptych__link
                img(src="./images/home.jpg" alt="Дед мороз и снегурочка поздравляют детей дома")
                figcaption.triptych__title К Вам Домой
article.triptych
    .triptych__block
        figure.triptych__ImgBlock
            a(href="/dedmoroz_na_utrennik.html").triptych__link
                img(src="./images/new-year-party.jpg" alt="Дед мороз и снегурочка на детских утренниках")
                figcaption.triptych__title На Утренник
article.triptych
    .triptych__block
        figure.triptych__ImgBlock
            a(href="/dedmoroz_na_korporativ.html").triptych__link
                img(src="./images/party.jpg" alt="Дед мороз и снегурочка на корпоративе")
                figcaption.triptych__title На Корпоратив