.triptych{
  &__block{

  }

  &__ImgBlock{
    position: relative;
    height: 100%;
  }

  &__link{
    display: block;
    position: relative;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      display: block;
      opacity: 1;
    }


    &:after{
      content: '';
      display: block;
      position: absolute;
      border: 3px solid #f55050;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.3s all;
      z-index: 2;
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      border: 0px solid #fff;
      width: 100%;
      height: 100% ;
      top: 0;
      left: 0;
      transition: 0.3s all;
      z-index: 2;
    }

    &:hover{
      padding: 22px;
      transition: 0.3s padding;

      &:after{
        opacity: 1;
        transition: 0.3s all;
      }

      &:before{
        border: 22px solid rgba(255, 255, 255, 0.8);
        width: calc(100% - 44px);
        height: calc(100% - 44px);
        top: 0;
        transition: 0.3s all;
      }

      img{
        opacity: 0.7;
      }
    }
  }

  &__title{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0%);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(242, 36, 36, 0.81);
    background-color: #f55050;
    color: white;
    line-height: 24px;
    padding: 10px 20px;
    width: 100%;
    max-width: 74%;
  }

  &__priceBlock{
    position: absolute;
  }
}