.gallery {
  max-width: 1200px;
  margin: 20px auto ;

  @media(min-width: 768px) {
    margin: 40px auto 80px;
    padding: 0 20px;
  }

  @media(min-width: 1240px) {
    padding: 0;
  }


  &__title {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #85919a;

    margin-bottom: 40px;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__column {
    display: none;

    @media(min-width: 768px) {   
      display: grid;  
      grid-row-gap: 20px;
      grid-template-rows: 200px 200px 200px;
      margin-bottom: 20px;

      a {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:first-child {
          background-image: url('../images/photo/20_s.jpg');
        }

        &:nth-child(2) {
          background-image: url('../images/photo/29_s.jpg');
        }

        &:last-child {
          background-image: url('../images/photo/3_s.jpg');
        }
      }
    }

    @media (min-width: 1240px) {
      margin-bottom: 0;
    }

    &--2 {
      @media(min-width: 768px) {
        grid-template-rows: 370px 250px;
        
        a {
          &:first-child {
            background-image: url('../images/photo/25_s.jpg');
          }

          &:last-child {
            background-image: url('../images/photo/7_s.jpg');
          }
        }
      }
    }

    &--3 {

      @media(min-width: 768px) {
        grid-template-rows: 190px 220px 190px;

        a {
          &:first-child {
            background-image: url('../images/photo/12_s.jpg');
          }

          &:nth-child(2) {
            background-image: url('../images/photo/26_s.jpg');
          }

          &:last-child {
            background-image: url('../images/photo/9_s.jpg');
          }
        }
      }
    }

    &--4 {
      grid-template-rows:0 0 50px;
      display: grid;

      a {
        &:first-child {
         display: none;
        }

        &:nth-child(2) {
          display: none;
        }
      }

      @media(min-width: 768px) {
        grid-template-rows: 250px 300px 50px;

        a {
          &:first-child {
            background-image: url('../images/photo/11_s.jpg');
            display: block;
          }

          &:nth-child(2) {
            background-image: url('../images/photo/22_s.jpg');
            display: block;
          }

          &:last-child {
            background: rgba(242, 36, 36, 0.8);
          }
        }
      }
    }
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__link {
    position: relative;
    display: block;
    border-radius: 2px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/snowflake.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $myRed;
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
        transition: 0.3s all;
      }

      &:before {
        opacity: 0.4;
        transition: 0.3s all;
      }
    }
  }

  &__more {
    background-color: $myRed;
    color: #fff;
    text-align: center;
    padding: 13px 0 16px;
    display: none;
    height: 50px;

    &.mobile{
      display: block;
      padding: 6px 0 16px;  
      font-family: Lobster, sans-serif;
      font-size: 28px;
      
    }

    @media(min-width: 768px) {
      display: block;

      &.mobile{
        display: none !important;
      }
  
    }
  }
}