.gallery
    h2.gallery__title Наш Фотоальбом
    .gallery__block
        .gallery__column.gallery__column--1
            a( href="./images/photo/20.jpg" data-lightbox="example-set").gallery__link
              //  img(src="./images/photo/25.jpg" alt="").gallery__img
            a(href="./images/photo/29.jpg" data-lightbox="example-set").gallery__link
               // img(src="./images/photo/26.jpg" alt="").gallery__img
            a(href="./images/photo/3.jpg" data-lightbox="example-set").gallery__link
               // img(src="./images/photo/35.jpg" alt="").gallery__img
        .gallery__column.gallery__column--2
            a(href="./images/photo/25.jpg" data-lightbox="example-set").gallery__link
              //  img(src="./images/photo/29.jpg" alt="").gallery__img
            a(href="./images/photo/7.jpg" data-lightbox="example-set").gallery__link
              //  img(src="./images/photo/30.jpg" alt="").gallery__img
        .gallery__column.gallery__column--3
            a(href="./images/photo/12.jpg" data-lightbox="example-set").gallery__link
              //  img(src="./images/photo/35.jpg" alt="").gallery__img
            a(href="./images/photo/26.jpg" data-lightbox="example-set").gallery__link
               // img(src="./images/photo/31.jpg" alt="").gallery__img
            a(href="./images/photo/9.jpg" data-lightbox="example-set").gallery__link
             //   img(src="./images/photo/33.jpg" alt="").gallery__img
        .gallery__column.gallery__column--4
            a(href="./images/photo/17.jpg" data-lightbox="example-set").gallery__link
               // img(src="./images/photo/25.jpg" alt="").gallery__img
            a(href="./images/photo/22.jpg" data-lightbox="example-set").gallery__link
              //  img(src="./images/photo/27.jpg" alt="").gallery__img
            a(href="/photo_gallery.html" ).gallery__more Больше Фотографий
            a(href="/photo_gallery.html" ).gallery__more.mobile Наш Альбом