.footer {
  position: relative;
  padding: 30px 0 40px;
  background-color: #e43a46;

  @media(min-width: 768px) {
    padding: 30px 20px;
    padding-left: 10px;
  }

  @media(min-width: 1024px) {
    padding: 30px 0;
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;

    @media(min-width: 768px) {
      justify-content: start;
      grid-row-gap: 0;
      grid-template-columns: 1fr 2fr 1fr;
      grid-column-gap: 40px;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background-image: url(../images/bg_part-top.png);
    width: 100%;
    height: 59px;
    bottom: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__icon {
    fill: #fff;
    width: 77px;
  }

  &__logoText {
    color: #fff;
    font-size: 22px;
    padding-left: 15px;
    letter-spacing: 2px;
    display: flex;

    @media(min-width: 768px) {
      display: block;
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;

    a {
      display: inline-block;
      width: 30%;
      letter-spacing: 1px;
      color: #fff;
      font-size: 16px;
      text-decoration: underline;
      margin-bottom: 5px;
    }


    @media(min-width:768px) {
      width: 100%;
      grid-template-columns: 1fr 1fr 0.7fr;
    }
  }

  &__contact {
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  &__phone {
    display: block;
    color: #fff;
    margin-bottom: 10px;
  }

  &__mail {
    display: block;
    color: #fff;
    margin-bottom: 10px;
  }

  &__post {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: $myRed;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    //width: 75%;
    padding: 10px 20px 7px;
    border-radius: 2px;
    margin: 0 auto;

    @media(min-width: 768px) {
      margin: 0;
    }
  }

  &__metrik{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;

    .metrik{
      padding-left: 15px;
    }
  }
}