footer.footer
    .footer__content(itemscope itemtype="http://schema.org/Organization")
        a(href="/").footer__logo
            svg.footer__icon(viewBox="0 0 570.757 570.757")
                use.i_footer(xlink:href="#christmasTree" x="0" y="0")
            .footer__logoText(itemprop="name")
                div Мороз
                div На
                div Ёлку

        .adress(style='display:none' itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                span Адрес:
                span(itemprop="streetAddress") Хасанская 2
                span( itemprop="postalCode") 195426
                span( itemprop="addressLocality") Санкт-Петербург

        nav.footer__navigation
                a(href="/") Главная
                a(href="/programs.html") Программы
                a(href="/moroz_na_dom_price.html") Цены
                a(href="/photo_gallery.html") Фотографии
                a(href="/invite.html") Пригласить
                a(href="/blog.html") Интересно
                a(href="/contacts.html") Контакты

        .footer__contact
            a(href="tel:+79650579942" itemprop="telephone").footer__phone  +7(965) 057 99 42
            a(href="mailto:moroznaelku@mail.ru" itemprop="email").footer__mail moroznaelku@mail.ru
            a(href="/invite.html").footer__post Заказать


    .footer__metrik.
        <div class='metrik'>

          <!-- Rating@Mail.ru counter -->

          <script type="text/javascript">

              var _tmr = _tmr || [];

              _tmr.push({id: "2594700", type: "pageView", start: (new Date()).getTime()});

              (function (d, w) {

                  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;

                  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";

                  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};

                  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }

              })(document, window);

          </script><noscript><div style="position:absolute;left:-10000px;">

          <img src="//top-fwz1.mail.ru/counter?id=2594700;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />

        </div></noscript>

          <!-- //Rating@Mail.ru counter -->



          <!-- Rating@Mail.ru logo -->

          <a href="http://top.mail.ru/jump?from=2594700">

            <img src="//top-fwz1.mail.ru/counter?id=2594700;t=318;l=1"

                 style="border:0;" height="15" width="88" alt="Рейтинг@Mail.ru" /></a>

          <!-- //Rating@Mail.ru logo -->

        </div>

        <div class='metrik'>



          <!-- Yandex.Metrika informer -->

          <a href="http://metrika.yandex.ru/stat/?id=23061607&amp;from=informer"

             target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23061607/1_0_A9DCFFFF_89BCE2FF_1_pageviews"

                                                 style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:23061607,lang:'ru'});return false}catch(e){}"/></a>

          <!-- /Yandex.Metrika informer -->



          <!-- Yandex.Metrika counter -->

          <script type="text/javascript">

              (function (d, w, c) {

                  (w[c] = w[c] || []).push(function() {

                      try {

                          w.yaCounter23061607 = new Ya.Metrika({id:23061607,

                              clickmap:true,

                              trackLinks:true,

                              accurateTrackBounce:true});

                      } catch(e) { }

                  });



                  var n = d.getElementsByTagName("script")[0],

                      s = d.createElement("script"),

                      f = function () { n.parentNode.insertBefore(s, n); };

                  s.type = "text/javascript";

                  s.async = true;

                  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";



                  if (w.opera == "[object Opera]") {

                      d.addEventListener("DOMContentLoaded", f, false);

                  } else { f(); }

              })(document, window, "yandex_metrika_callbacks");

          </script>

          <noscript><div><img src="//mc.yandex.ru/watch/23061607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

          <!-- /Yandex.Metrika counter -->

        </div>



        <div class='metrik'>

          <!--begin of Bonbone-->

          <a href='http://bonbone.ru/' title='Популярный каталог ресурсов интернет'>

            <img src='http://bonbone.ru/bon.php?549544' width=88 height=15 border=0></a>

          <!--end of Bonbone-->

        </div>



        <script type="application/ld+json">

        {

        "@context": "http://moroznaelku.ru",

        "@type": "Дед мороз и снегурочка",

        "url": "http://www.moroznaelku.ru",

        "contactPoint": [{

        "@type": "ContactPoint",

        "telephone": "+7(812)909 96 09",

        "contactType": "Новогодние праздники!"

        }]
        }

        </script>
