extends blocks/MainLayout.pug

block head
    title Дед Мороз и Снегурочка на дом в Санкт-Петербурге. Блог
    meta(name="description" content="Статьи которые помогут подготовиться к новому году, красить елку и праздик!")

block content
    .blog
        h1.blog__title Интересности!
        .blog__content
            article.blog__post
                img.blog__postImg(src="images/blog/fetr_s(8).jpg" alt="Новогодние игрушки из фетра, выкройки ")
                .blog__postContent
                    a(href="/blog/novogodnie_igrushki.html")
                        h2 Новогодние игрушки из фетра, выкройки
                    .blog__postDesc.
                        Приближается сказочная новогодняя пора и практически каждому хочется украсить для самих себя
                        этот праздник немного лучше, чем в прошлом году. За долгие годы глянцевые и блестящие шарики
                        на елку могут порядком надоесть. Хочется побаловать свою зеленую лесную красавицу чем-то
                        совершенно новеньким, мягким, уютным…
                    a.blog__postBtn(href="/blog/novogodnie_igrushki.html") продолжение...
                   


