extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб - Контакты
    meta(name="description" content="Заказать Деда Мороза и Снегурочку в Спб к себе на праздник вы можете по указанным телефонам или емейлу, а также в разделе заказ")
    style(type='text/css' rel="stylesheet").
        .header__navigation>div:nth-child(6)>a {
            text-decoration: underline
        }

block content
    .contacts
        h1.contacts__title Наши контакты

        .contacts__content
            p.contacts__text
                | Для того, чтобы оставить заказ или задать вопрос вы можете воспользоваться нашим сервисом&nbsp;
                a.contacts__textLink(href="/invite.html") онлайн заказа
                |&nbsp;А также отправить писмо или позвонить.


            .contacts__block
                img(src="http://moroznaelku.ru/images/kontakt.png" alt="Дед мороз с телефоном").contacts__img
                .contacts__blockCell
                    .contacts__blockTitle Телефоны для связи:
                    a(href="tel:+79650579942").contacts__blockLink +7(965) 057 99 42

                .contacts__blockCell
                    .contacts__blockTitle Наша почта:
                    a(href="mailto:moroznaelku@mail.ru").contacts__blockLink moroznaelku@mail.ru

                .contacts__blockCell
                    a(href="./invite.html").contacts__blockLink.link Онлайн заказ
                    a(href="https://vk.com/moroznaelku").contacts__blockLink.link Группа в Вконтаке

