extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на утренник - Программа праздника
    meta(name="description" content="Вызов Деда Мороза на утренник или во двор")
    style(type='text/css' rel="stylesheet").
        .header__navigation>div:nth-child(4)>a {
            text-decoration: underline
        }

block content
    .program(itemscope itemtype="http://schema.org/Product")
        h1.program__title
            span(itemprop="name") Дед мороз На Утренник!&nbsp;
            span Программа.

        .program__content
            div(itemprop="description")
                p.program__text.
                    Вызов Деда Мороза и Снегурочки в детский сад спб - это прекрасная альтернатива переодетым родителям
                    или воспитательницам, которых ребята могут узнать в любом гриме и разочароваться до слез.
                    Профессиональные актеры с отлично подготовленной программой, приедут в любое дошкольное
                    заведение, в школу, лицей, гимназию.
                p.program__text.
                    Они проведут утренник, сохранив магию новогодней сказки, в атмосфере всеобщего веселья и радости.
                     Детей ждут соревнования и конкурсы, в которых не будет проигравших. Никто не останется без
                     внимания и будет обласкан приветливыми гостями утренника. Конечно, все мальчишки и девчонки
                     получат подарок из рук повелителя вьюг и снегов.
                p.program__text.
                    Замечательно повеселятся ребята, если Деда Мороза и Снегурочку вызвать во двор или на детскую
                    площадку. На улице сказочные персонажи точно не растают! Дети с большим задором и живостью будут
                    участвовать в конкурсах на свежем воздухе, ведь на морозце еще больше хочется побегать и
                    потанцевать. Устройте такой праздник, чтобы детские глаза светились от счастья!
            p(itemprop="offers" itemscope itemtype="http://schema.org/Offer").program__price Стоимость от
                span(itemprop="price")  3500
                span  руб
                span( itemprop="priceCurrency" style="display: none") RUB

            div
                article.program__block
                    h3 К новогоднему поздравлению можно добавить:&nbsp;
                    p.program__desc.
                        дополнительного персонажа, бумажное/мыльное/химическое
                        шоу, аквагрим, Dj с оборудованием, шоу иллюзий, а так же профессионального фотографа, чтобы
                         запечатлеть всю эту красоту.

        .program__buttons
            .program__btnBlock
                .program__btnDesk Ознакомится с ценами
                a.program__link( href="/moroz_na_utrennik_price.html") Посмотреть

            .program__btnBlock
                .program__btnDesk Оставить заявку
                a.program__link( href="/invite.html") Написать

            .program__btnBlock
                .program__btnDesk Наш телефон
                a.program__link( href="tel:+79650579942")  +7(965) 057 99 42
