extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на корпоратив - Программа праздника
    meta(name="description" content="Вызов Деда Мороза на корпоратив, в офисы и рестораны в Санкт-Петербурге")
    style(type='text/css' rel="stylesheet").
        .header__navigation>div:nth-child(4)>a {
            text-decoration: underline
        }

block content
    .program(itemscope itemtype="http://schema.org/Product")
        h1.program__title
            span(itemprop="name") Дед Мороз На Корпоратив!
            span    Программа.

        .program__content
            div(itemprop="description")
                p.program__text.
                    Праздник потеряет шарм волшебства и милой сердцу атмосферы «детскости» без елки, подарков, деда с
                    длинной бородой с его белокурой внучкой. Новый год в кругу коллектива станет искрометным и радостным
                     событием, если приедут Дед Мороз и Снегурочка на корпоратив, организованный на рабочем месте, в
                      ресторане, кафе, базе отдыха за городом.
                p.program__text.
                    Профессиональных и подготовленных актеров предлагаем заказать в спб для короткого поздравления или
                    для продолжительной шоу-программы:
                ul.program__list
                    li с тематическим реквизитом;
                    li музыкальным сопровождением;
                    li веселыми, неординарными конкурсами;
                    li вручением подарков каждому сотруднику.

                p.program__text.
                    Дед Мороз и Снегурочка сумеют «зажечь» и раскрепостить даже самых зажатых и скромных, увлечь весь
                    коллектив. Не банальные шутки, юмор, песни поднимут настроение, создадут ауру магии и светлого
                    ожидания чуда, которое непременно произойдет, когда пробьют Куранты.


                //p.program__text.
                //    Мы предлагаем устроить незабываемый праздник для Ваших сотрудников в кафе или ресторане.
                //    Программа праздника всегда разрабатывается индивидуально, но всегда гарантирует отличное настроение!
                //    В ресторан к Вам придут настоящие Дед Мороз и Снегурочка, устроят забавные конкурсы и оригинальные
                //    поздравления. Ваши сотрудники придут в восторг, увидев сказочных персонажей прямо в офисе, и будут
                //    долго вспоминать этот праздник!
                //p.program__text.
                //    Вызов на Корпоратив в офис и в ресторан! Интересные программы, нестандартные конкурсы!
                //    Много разных программ от 20-ти минут (подарить подарки) до 2-х часов (полноценное ведение корпоратива в
                //    ресторане)! Обычно заказывают программу на 30-40 минут.
            div.program__priceTable
                p.program__price Стоимость:
                p(itemprop="offers" itemscope itemtype="http://schema.org/Offer").program__price  от
                    span(itemprop="price")  3500
                    span  руб
                    span( itemprop="priceCurrency" style="display: none") RUB

            div
                article.program__block
                    h3 К новогоднему поздравлению можно добавить:&nbsp;
                    p.program__desc.
                        дополнительного персонажа, бумажное/мыльное/химическое
                        шоу, Dj с оборудованием, шоу иллюзий, а так же профессионального фотографа, чтобы
                         запечатлеть всю эту красоту.

        .program__buttons
            .program__btnBlock
                .program__btnDesk Ознакомится с ценами
                a.program__link( href="/moroz_na_korporativ_price.html") Посмотреть

            .program__btnBlock
                .program__btnDesk Оставить заявку
                a.program__link( href="/invite.html") Написать

            .program__btnBlock
                .program__btnDesk Наш телефон
                a.program__link( href="tel:+79650579942")  +7(965) 057 99 42