extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на дом - Программа праздника
    meta(name="description" content="Вызов Деда Мороза на дом в Санкт-Петербурге")
    style(type='text/css' rel="stylesheet").
        .header__navigation>div:nth-child(4)>a {
            text-decoration: underline
        }

block content
    .program
        h1.program__title Дед Мороз На Дом! Программа.
        .program__content
            p.program__content
                p.program__text.
                    Вы уже написали письмо с заветными пожеланиями? Пора заказать Деда Мороза и Снегурочку на дом в спб,
                     чтобы волшебный праздник стал для детей настоящим чудом, а у взрослых вызвал светлую радость.
                p.program__text.
                    Сверкающая елка, традиционный хоровод, стихи, песни и главные персонажи в красочных
                    костюмах - непременные составляющие чудесного, семейного торжества - встречи Нового года
                p.program__text.
                    Мы организуем поздравление на дому - веселое и зажигательное. Заблаговременный вызов на дом Деда
                    Мороза и Снегурочки поможет воплотить в жизнь ту магическую атмосферу сказки, от которой малыши
                    будут в восторге.
                p.program__text.
                    Для взрослых дедушка и его очаровательная внучка тоже найдут остроумные шутки и неординарные забавы.
                    Для всех, кто собрался за новогодним столом, визит новогодних гостей будет приятным сюрпризом.
                section
                    h2 Предлагаем два варианта новогодних программ поздравления на дому:
                    div(itemscope itemtype="http://schema.org/Product")
                        article.program__block
                            h3(itemprop="name") Экспресс поздравление:&nbsp;
                            p(itemprop="description").program__desc.
                                (около 7-ми минут): Дед мороз со Снегурочкой поговорят с ребенком, выслушают стишок и вручат
                                подарок)) Такое поздравление больше всего подходит самым маленьким нашим друзьям, которым еще сложно
                                участвовать в играх и отгадывать загадки.
                        p(itemprop="offers" itemscope itemtype="http://schema.org/Offer").program__price Стоимость от
                            span(itemprop="price")  1500
                            span  руб
                            span( itemprop="priceCurrency" style="display: none")  RUB

                    div(itemscope itemtype="http://schema.org/Product")
                        article.program__block
                            h3(itemprop="name") Новогоднее Приключение:&nbsp;
                            p(itemprop="description").program__desc.
                                Включает стихотворную мини-сценку, несколько веселых игр, интересные загадки, дружный хоровод,
                                стишки и, конечно же, вручение подарков! Для каждого возраста разные игры, конкурсы и загадки!
                        p(itemprop="offers" itemscope itemtype="http://schema.org/Offer").program__price Стоимость от
                            span(itemprop="price")  2400
                            span  руб
                            span( itemprop="priceCurrency" style="display: none") RUB

                    div
                        article.program__block
                            h3 К новогоднему поздравлению можно добавить:&nbsp;
                            p.program__desc.
                                дополнительного персонажа, бумажное/мыльное/химическое
                                шоу, аквагрим, Dj с оборудованием, шоу иллюзий, а так же профессионального фотографа, чтобы
                                 запечатлеть всю эту красоту.

                .program__buttons
                    .program__btnBlock
                        .program__btnDesk Ознакомится с ценами
                        a.program__link( href="/moroz_na_dom_price.html") Посмотреть

                    .program__btnBlock
                        .program__btnDesk Оставить заявку
                        a.program__link( href="/invite.html") Написать

                    .program__btnBlock
                        .program__btnDesk Наш телефон
                        a.program__link( href="tel:+79650579942")  +7(965) 057 99 42



