extends blocks/MainLayout.pug

block head
    title Заказ Деда Мороза и Снегурочки на дом в Санкт-Петербурге
    meta(name="description" content="Опытные артисты, Красивые костюмы, запоминающийся праздник, Приятные цены и конечно же Дед Мороз без вредных привычек!")
    style(type='text/css' rel="stylesheet").
        .header__navigation div:first-child a {
                text-decoration: underline
            }

block content
    .index
        .index__header
            .index__title Дед Мороз и Снегурочка
            .index__desc в Санкт-Петербурге
            .index__triptych
                include blocks/triptych/triptych
        .index__gallery
            include blocks/gallery/gallery
        .index__inHome
            include blocks/inHome/inHome
        .index__about
            include blocks/about/about
        .index__advantage
            include blocks/advantage/advantage
