extends blocks/MainLayout.pug

block head
    title Заказать Деда Мороза на праздник!
    meta(name="description" content="Заказать Деда Мороза и Снегурочку в Санк-Петербурге на праздник  очень просто. Оставьте нам сообщение на сайте или в контакте напишите на почту или позвоните")
block content
    .invite
        h1.invite__title
            span Оставить заявку&nbsp;

        .invite__content
            p.invite__text
                | Чтобы заказать поздравление Деда Мороза и Снегурочки в Санкт-Петербурге на дом, на утренник или на корпоратив вы можете позвонить по телефону&nbsp;
                a(href="tel:+79650579942") +7(965) 057 99 42
                | ,&nbsp;отправить ему письмо по электронной почте&nbsp;
                a(href="mailto:moroznaelku@mail.ru") moroznaelku@mail.ru
                | &nbsp;или воспользоваться&nbsp;
                b формой заказа

            .invite__formBlock
                form(method="post" action=" " )#form_add.invite__form
                    input( placeholder="Как вас зовут")#name.invite__input
                    input( placeholder="Номер телефона")#phone.invite__input
                    textarea( placeholder="Коментарий: Дата, время, адрес, сколько будет детей/гостей на празднике")#textareaMail.invite__mail
                    .invite__btnBlock
                        .invite__message
                        button(type="submit" ).invite__btn Отправить
                #message
            .invite__textBlock
                p.invite__text.
                    Неважно где вы будете встречать Новый год. Возможно, у вашего начальника хорошее настроение и он решил собрать вас и ваших коллег вместе на корпоратив в честь этого праздника. А, может быть, у вас есть дети и вы решили с другими родителями собрать всех в классе, группе или просто во дворе и зажечь огни на новогодней ёлке. Или вы его встречаете дома в кругу семьи; Настоящий новый год никогда не обходится без: Нарядной лесной красавицы – елочки, Короля стола - салата оливье, душистых сладких мандаринов и боя курантов!
                p.invite__text.
                    Но кто соберет всех в хоровод? Без кого не загорятся огни на елке? И самое главное!!! Кто подарит нам подарки и исполнит наши желания?! Конечно же это нами всеми любимый Дедушка Мороз и его внучка Снегурочка!!! Они закружат вас в хороводах, озадачат загадками, развеселят своими конкурсами и подарят замечательное настроение и воспоминания!



            p.invite__text.invite__text--desc
                span.invite__textStar *&nbsp;
                | Желательно указать: Дату, время, адрес, сколько будет детей/гостей на празднике и их возраст.






