extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на утренник - цена.
    meta(name="description" content="Вызов Деда Мороза на утренник. Цена  в Санкт-Петербурге")
    style(type='text/css' rel="stylesheet").
        .header__navigation > div:nth-child(3) > a {
            text-decoration: underline
        }

block content
    .prices
        h1.prices__title Дед Мороз На Утренники! Цены.

        .prices__content
            p.prices__listContent.
                Первый морозец и снежок напоминают, что весь декабрь будет суетливым, но радостным ожиданием новогоднего праздника. И в детских садах вовсю учат стишки и танцы, вырезают снежинки, украшают елочку - готовятся к встрече с Дедушкой Морозом и Снегурочкой. Оформите заказ, сделайте эту встречу по-настоящему сказочной!
            p.prices__listContent.
                Мы подготовили много интерактивных программ для каждого возраста. Никаких стандартных конкурсов, только авторские сценарии: новогодние скетчи, игры с реквизитом, музыкальное сопровождение, веселые танцы. Наиболее популярные программы - на 40 минут и на 1 час.

            p.prices__listContent Узнать подробней или сделать заказ можно по телефону: &nbsp;
                a(href="tel:+79650579942")  +7(965) 057 99 42
                |&nbsp;или&nbsp;
                a(href="/invite.html") Через форму на сайте

            h2.prices__title.prices__title--h2.pricesMobile Цены На Поздравление.

            .prices__tables.prices__tables--middle
                .prices__tablesHeader Время
                .prices__tablesHeader Дед Мороз
                .prices__tablesHeader Дед Мороз и Снегурочка

                .prices__tablesRow  15-20 мин
                .prices__tablesRow от 3 000 руб
                .prices__tablesRow от 4 000 руб.

                .prices__tablesRow 40 мин
                .prices__tablesRow от 3 500 руб.
                .prices__tablesRow от 5 000 руб.

                .prices__tablesRow  1 час
                .prices__tablesRow от 5 000 руб.
                .prices__tablesRow от 7 000 руб.

                .prices__tablesRow 1 час 30 мин
                .prices__tablesRow от 7 000 руб.
                .prices__tablesRow от 10 000 руб.

            .prices__text.
                Стоимость зависит от количества детей, дня и времени проведения в школу или дедский сад


        
