extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на корпоратив - цена.
    meta(name="description" content="Вызов Деда Мороза на корпоратив. Цена  в Санкт-Петербурге")
    style(type='text/css' rel="stylesheet").
        .header__navigation > div:nth-child(3) > a {
            text-decoration: underline
        }

block content
    .prices
        h1.prices__title Дед Мороз На Корпоратив! Цены.

        .prices__content
            .prices__text.
                Кто же не любит отмечать светлый праздник Нового года? Мандарины, елочка с яркими огнями гирлянд, снежные узоры на окнах, и, конечно же, добрый Дедушка Мороз с красавицей Снегурочкой. Ощущение сказки дарит волшебные эмоции, позитивное настроение, а сам праздник приносит массу приятных подарков.

            p.prices__listContent.
                Заказ Деда Мороза и Снегурочки на корпоратив - лучший подарок вашим сотрудникам на Новый год!
                Программы от 20-ти минут до 2-х часов! Без неприличных шуток и конкурсов! В ресторане и в офисе!
                Стандартная программа расчитана на 30-40 минут.

            p.prices__listContent Узнать подробней или сделать заказ можно по телефону: &nbsp;
                a(href="tel:+79650579942")  +7(965) 057 99 42
                |&nbsp;или&nbsp;
                a(href="/invite.html") Через форму на сайте

            h2.prices__title.prices__title--h2.pricesMobile Цены На Поздравление.

            .prices__tables.prices__tables--middle
                .prices__tablesHeader Время
                .prices__tablesHeader Дед Мороз
                .prices__tablesHeader Дед Мороз и Снегурочка

                .prices__tablesRow  15-20 мин
                .prices__tablesRow от 3 500 руб
                .prices__tablesRow от 4 500 руб.

                .prices__tablesRow 30-40 мин
                .prices__tablesRow от 4 000 руб.
                .prices__tablesRow от 5 500 руб.

                .prices__tablesRow  1 час
                .prices__tablesRow от 5 500 руб.
                .prices__tablesRow от 7 500 руб.

                .prices__tablesRow 1 час 30 мин
                .prices__tablesRow от 7 500 руб.
                .prices__tablesRow от 10 500 руб.

            .prices__text.
                Для корпоративов составлены креативные сценарии, в которые при заказе можно внести свои идеи и предложения, чтобы поздравления были адаптированы под ваш коллектив или адресованы кому-то из сотрудников или руководства лично.
                Не откладывайте на завтра, звоните сегодня!
            .prices__text.
                Стоимость зависит от количества человек, дня и времени проведения в офис или ресторан