extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на дом - цены.
    meta(name="description" content="Вызов Деда Мороза на дом. Цены  в Санкт-Петербурге")
    style(type='text/css' rel="stylesheet").
        .header__navigation > div:nth-child(3) > a {
            text-decoration: underline
        }

block content
    .prices
        h1.prices__title Дед Мороз На Дом! Цены.

        .prices__content
            p.prices__listContent Сделать заказ можно по телефону:&nbsp;
                a(href="tel:+79650579942") +7(965) 057 99 42
                |&nbsp;или&nbsp;
                a(href="/invite.html") Через форму на сайте


            h2.prices__title.prices__title--h2.pricesMobile Цены На Экспресс Поздравление.

            .prices__tables
                .prices__tablesHeader Дата
                .prices__tablesHeader  Время
                .prices__tablesHeader
                    |Экспресс 
                    br
                    |поздравление
                .prices__tablesHeader.noPricesMobile  
                    |Новогоднее
                    br
                    |Приключение
                .prices__tablesHeader.noPricesMobile  
                    |Поздравления от 
                    br
                    |Деда Мороза

                .prices__tablesRow до 17 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow.red 1 800 руб.
                .prices__tablesRow.noPricesMobile.red 2 700 руб.
                .prices__tablesRow.noPricesMobile.red 1 800 руб.

                .prices__tablesRow 18-24 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 3 300 руб.
                .prices__tablesRow.noPricesMobile 4 200 руб.
                .prices__tablesRow.noPricesMobile 3 300 руб.

                .prices__tablesRow 25-29 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 3 600 руб.
                .prices__tablesRow.noPricesMobile 4 500 руб.
                .prices__tablesRow.noPricesMobile 3 600 руб.

                .prices__tablesRow 30-е декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 3 900 руб.
                .prices__tablesRow.noPricesMobile 4 800 руб.
                .prices__tablesRow.noPricesMobile 3 900 руб.


                .prices__tablesRow 31 декабря
                .prices__tablesRow
                    p до 15-00
                    p с 15-00 до 18-00
                    p с 18-00 до 20-00
                    p с 20-00 до 22-00
                    p с 22-00 до 23-30
                    p Новогодняя ночь
                    p с 01-00 до 4-00

                .prices__tablesRow
                    p 4 500 руб.
                    p 5 000 руб.
                    p 5 300 руб.
                    p 6 000 руб.
                    p 6 900 руб.
                    p 8 000 руб.
                    p 6 900 руб.

                .prices__tablesRow.noPricesMobile
                    p 5 400 руб.
                    p 6 000 руб.
                    p 6 600 руб.
                    p 7 200 руб.
                    p 8 300 руб.
                    p 10 000 руб.
                    p 8 300 руб.

                .prices__tablesRow.noPricesMobile
                    p 4 500 руб.
                    p 5 000 руб.
                    p 5 300 руб.
                    p 6 000 руб.
                    p 6 900 руб.
                    p 8 000 руб.
                    p 6 900 руб.

                .prices__tablesRow 1 января
                .prices__tablesRow с 14-00
                .prices__tablesRow 3 900 руб.
                .prices__tablesRow.noPricesMobile 4 800 руб.
                .prices__tablesRow.noPricesMobile 3 900 руб.

                .prices__tablesRow 2 января
                .prices__tablesRow Весь день
                .prices__tablesRow 3 600 руб.
                .prices__tablesRow.noPricesMobile 4 500 руб.
                .prices__tablesRow.noPricesMobile 3 600 руб.

                .prices__tablesRow с 3 января
                .prices__tablesRow Весь день
                .prices__tablesRow 2 700 руб.
                .prices__tablesRow.noPricesMobile 3 600 руб.
                .prices__tablesRow.noPricesMobile 2 700 руб.

            h2.prices__title.prices__title--h2.pricesMobile Цены На Новогоднее Приключение

            .prices__tables.pricesMobile
                .prices__tablesHeader Дата
                .prices__tablesHeader  Время
                .prices__tablesHeader 
                    |Новогоднее
                    br
                    |Приключение

                .prices__tablesRow до 17 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow.red 2 700 руб.

                .prices__tablesRow 18-24 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 4 200 руб.

                .prices__tablesRow 25-29 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 4 500 руб. 

                .prices__tablesRow 30-е декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 4 800 руб.

                .prices__tablesRow 31 декабря
                .prices__tablesRow
                    p до 15-00
                    p с 15-00 до 18-00
                    p с 18-00 до 20-00
                    p с 20-00 до 22-00
                    p с 22-00 до 23-30
                    p Новогодняя ночь
                    p с 01-00 до 4-00

                .prices__tablesRow
                    p 5 400 руб.
                    p 6 000 руб.
                    p 6 600 руб.
                    p 7 200 руб.
                    p 8 300 руб.
                    p 10 000 руб.
                    p 8 300 руб.

                .prices__tablesRow 1 января
                .prices__tablesRow с 14-00
                .prices__tablesRow 4 800 руб.

                .prices__tablesRow 2 января
                .prices__tablesRow Весь день
                .prices__tablesRow 4 500 руб.

                .prices__tablesRow с 3 января
                .prices__tablesRow Весь день
                .prices__tablesRow 3 600 руб.

            h2.prices__title.prices__title--h2.pricesMobile Цены На Поздравление Деда Мороза

            .prices__tables.pricesMobile
                .prices__tablesHeader Дата
                .prices__tablesHeader  Время
                .prices__tablesHeader  
                    |Поздравления
                    br
                    |от  Деда Мороза

                .prices__tablesRow до 17 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 1 800 руб.

                .prices__tablesRow 18-24 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 3 300 руб.

                .prices__tablesRow 25-29 декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 3 600 руб. 

                .prices__tablesRow 30-е декабря
                .prices__tablesRow Весь день
                .prices__tablesRow 3 900 руб.

                .prices__tablesRow 31 декабря
                .prices__tablesRow
                    p до 15-00
                    p с 15-00 до 18-00
                    p с 18-00 до 20-00
                    p с 20-00 до 22-00
                    p с 22-00 до 23-30
                    p Новогодняя ночь
                    p с 01-00 до 4-00

                .prices__tablesRow
                    p 4 500 руб.
                    p 5 000 руб.
                    p 5 300 руб.
                    p 6 000 руб.
                    p 6 900 руб.
                    p 8 000 руб.
                    p 6 900 руб.

                .prices__tablesRow 1 января
                .prices__tablesRow с 14-00
                .prices__tablesRow 3 600 руб.

                .prices__tablesRow 2 января
                .prices__tablesRow Весь день
                .prices__tablesRow 3 000 руб.

                .prices__tablesRow с 3 января
                .prices__tablesRow Весь день
                .prices__tablesRow 2 400 руб.



            .prices__text.
                Новый год 2020 — елка, мандарины и Дед Мороз!
            .prices__text.
                Праздничные хлопоты приятные, но затратные, поэтому мы постарались, чтобы цена заказа Деда Мороза и Снегурочки на дом для жителей Санкт-Петербурга порадовала доступностью и специальными предложениями для соседей и многодетных семей.
            .prices__text.
                Весь декабрь пролетает незаметно в светлом ожидании волшебной ночи, в которую исполняются все желания. Не забудьте заказать своему ребенку Деда Мороза и Снегурочку на дом, чтобы увидеть его восторженные глаза и услышать веселый смех.
            .prices__text.
                Дети в восторге, взрослые довольны
            .prices__text.
                Мы очень ответственно относимся к своей работе, поэтому в нашей команде работают только профессиональные актеры и опытные аниматоры, располагающие к себе детей с первой минуты. Они найдут общий язык с 3-летним малышом и скептиком-подростком.
                Сценарий поздравления продуман соответственно возрасту ребенка и его интересам. Костюмы героев новые, красивые с традиционными новогодними атрибутами: мешком с подарками, волшебным посохом, косичками Снегурки и валенками дедушки. 
            .prices__text.
                В стоимость минимального заказа Деда Мороза и Снегурочки на дом в СПБ для самых маленьких входит короткое общение, чтение стишка и вручение подарка. Для малышей этого вполне достаточно, а деткам постарше мы предлагаем новогоднее приключение, в котором ребятам предложат интересные игры и конкурсы. 
           
            .prices__text.
                Итак, вы уже ознакомились с ценой заказа на дом Деда Мороза и Снегурочки и приняли решение пригласить сказочных героев. Если сомневаетесь, то откроем секрет, что наши постоянные клиенты уже подросли, потому что мы 7 лет подряд приходили поздравить их.
                Каждый раз с новым сценарием, с искренней улыбкой и вниманием, Уважаемые родители, мы поможем вам сделать новогоднюю сказку реальностью. Не опоздаем, развеселим, поздравим честную компанию, а деткам еще на год продлим веру, что чудо есть, а все желания обязательно исполнятся.
            .prices__text.
                Так же немного волшебства мы добавили в "Акции":

            h2.prices__title.prices__title--h2.actions Акции!



            ul.actions__list 
                li 20% скидка соседям, живущим в одном доме, дворе!
                li Скидки многодетным семьям!
                li Так же возможны индивидуальные скидки, уточняйте по телефону!
