extends blocks/MainLayout.pug

block head
    title Дед Мороз в СПБ - О нас
    meta(name="description" content="Главные причины заказать Деда Мороза и Снегурочку в Санк-Петербурге в нашей компании: большой опыт работы, красивые костюмы, хорошие отзывы.")
    style(type='text/css' rel="stylesheet").
        .header__navigation>div:nth-child(2)>a {
            text-decoration: underline
        }

block content
    .program
        .program__content
            h1.program__title О Нас

            // h2 Новый год близко - пора пригласить волшебных гостей!

            p.program__text.
                Вот уже 7 год подряд наша команда талантливых и любящих свое дело профессионалов собирается стать
                украшением новогоднего праздника. Мы принимаем заказы на вызов Деда Мороза и Снегурочки. Они радуют
                малышей и взрослых в Санкт-Петербурге: на дому, на утренниках, на корпоративах.
                малышей и взрослых в Санкт-Петербурге: на дому, на утренниках, на корпоративах.
            p.program__text.
                Мы подготовили программы для детей всех возрастов. Даже малыш, не умеющий говорить, почувствует как
                оживает сказка. Подросток, давно раскусивший уловки родителей, увидит в нарядных гостях веселых и
                 продвинутых друзей, понимающих что ему интересно и важно.

            h2 Маленьким и большим будет одинаково весело
            p.program__text.
                Дети такие разные, но все одинаково ждут новогоднего чуда. Чудесным образом Дед Мороз и Снегурочка
                найдут подход к робким и застенчивым. Подбодрят, скажут слова одобрения, пожелают самого светлого и
                хорошего, а подарят только самое долгожданное. Надеемся, что родители помогут нам воплотить мечту
                ребенка в жизнь!
            p.program__text.
                На корпоративах Дед Мороз И Снегурочка повеселят взрослых остроумными скетчами, смешными, но
                обязательно добрыми шутками. Наши актеры умеют веселить любую аудиторию. Мы умеем создавать
                светлую атмосферу, которую все помнят с детства.

            h2 Вызов Деда Мороза и Снегурочки в спб на утренник
            p.program__text.
                Для заведующих и директоров заказ в детский сад или школу Деда Мороза и Снегурочки, когда
                предпраздничных хлопот и так «полон рот» станет настоящей находкой. Не нужно тратить время на подбор
                самодеятельных актеров, репетиции, покупку костюмов. Мы сами подберем подходящий сценарий,
                соответствующий возрасту ребят и гарантируем - праздник пройдет, как яркое и веселое шоу, где не
                будет грустных лиц и неприятных сюрпризов.

            h2 Дед Мороз и Снегурочка в спб - обещанное чудо с доставкой на дом
            p.program__text.
                Загадочные лица родителей и долгожданный звонок в дверь. Минута в минуту прибудут сказочные персонажи,
                чтобы ребенок убедился, что они существуют взаправду:
            ul.program__list
                li.
                    В точности, как на фотографии, которую вы видели на сайте.
                li.
                    Дедушка обязательно с волшебным посохом, в традиционных валенках и нарядной шубе.
                li.
                    Внучка - с белокурыми косичками и белых сапожках.
                li.
                    Позитивные, улыбающиеся, умеющие поднять настроение, «зажечь» аудиторию.
                li.
                    С готовой программой, предназначенной именно для вашего ребенка.

            p.program__text.
                И конечно, даже без запаха сигарет и алкоголя, потому что понимаем ответственность своей работы и с
                уважением относимся к заказчикам.
                Дарим праздник и радуем ценами
            p.program__text.
                Родителей тоже ждет приятный новогодний сюрприз. Мы считаем, что заказ Деда Мороза и Снегурочки должен
                быть доступен всем деткам Санкт-Петербурга. Цены «волшебным» образом снизились, так как мы работаем без
                посредников. В разделе «Акции» есть выгодные предложения. Непременно загляните туда!
            p.program__text.
                Новый год, встреченный с нами, запомнится взрослым, как чудесное возвращение в милый мир, когда «деревья
                 были большими». Дети убедятся в том, что мечты сбываются!

