extends blocks/MainLayout.pug

block head
    title Фото с проведенных новогодних праздников наших Деда Мороза и Снегурочки
    meta(name="description" content="На представленных здесь фотографиях только наши Дед Морозы и Снегурочки, работающие дома и на утренниках, а также студийные фото, чтобы вы могли посмотреть наши костюмы.")
    style(type='text/css' rel="stylesheet").
        .header__navigation div:nth-child(5)  a{
                text-decoration: underline
            }

block content
    .photo_gallery
        .photo_gallery__gallery
            include blocks/photo/photo
