extends blocks/MainLayout.pug

block head
    title Цены наших новогодних программ
    meta(name="description" content="В нашей компании самые разумные цены на заказ Деда Мороза и Снегурочки в Санк-Петербурге.")
    link( rel="stylesheet" href="css/MainCss.css")
    style(type='text/css' rel="stylesheet").
        .header__navigation > div:nth-child(4) > a {
                text-decoration: underline
            }

block content
    .prices 
        h1.prices__title Наши Цены

