extends blocks/MainLayout.pug

block head
    title Программы новогодних поздравлений от нашего Деда Мороза и Снегурочки
    meta(name="description" content="Краткое описание того, что вас ожидает при заказе Деда Мороза и Снегурочки в Санк-Петербурге на дом, на утренник или корпоратив.")
    style(type='text/css' rel="stylesheet").
        .header__navigation>div:nth-child(3)>a {
                text-decoration: underline
            }

block content
    .programs 
        h1.programs__title Наши Программы   
        .programs__content
            article.programs__block
                h2.programs__blockTitle Дед Мороз В Гости!
                //- p.
                //-     Каждый ребенок хочет, чтобы подарок ему вручал настоящий Дед Мороз. У Вас есть отличная возможность
                //-     заказать визит деда Мороза на дом.
                //- p.
                //-     Наш Дед мороз всегда трезвый в красивой красной шубе, валенках, с роскошной бородой, с посохом и
                //-     мешком для подарков. Каждый ребенок весь год ждет волшебства и того самого бородатого дедушку с
                //-     внучкой, которые попросят у него рассказать стишок и подарят подарок.

                p.
                    Подарите детям веру в чудо!
  
                p.
                    Дети уже написали письма повелителю снежных вьюг. Было бы здорово, если бы Дед Мороз вдруг позвонил в дверь. 
                    Выслушал бы стишок с одобрительной улыбкой и лично вручил заветный подарок, а Снегурочка собрала бы всех в веселый хоровод. 
                    Сделайте сказку былью, пока малыш верит в чудеса.
                p.
                    Не нужно папе клеить фальшивую бороду и специально покупать костюм. Все равно малышня его «раскусит» и расстроится. 
                    Пусть на новогодний огонек заглянет волшебный дедушка с очаровательной внучкой и еще на год продлит детскую веру в волшебство. 
                    Доброй традицией стал заказ на дом главных героев праздника, а в Новый год 2020 обязательно нужно задать позитивный настрой, 
                    чтобы последующие 12 лет приносили только добрые перемены.
                
                .programs__btnBlock
                    a(href="/dedmoroz_na_dom.html").programs__btn Подробнее
                    a(href="/moroz_na_dom_price.html").programs__btn Цены
                    a(href="/invite.html").programs__btn Написать нам


            article.programs__block
                h2.programs__blockTitle Дед Мороз На  Утреннике!
                //- p.
                //-     Новый Год – это чудо, которого все мы ждем с нетерпением, особенно, если до праздника остаются
                //-     считанные дни.
                //- p.
                //-     У многих из нас воспоминания о новогоднем утреннике в детском садике связаны с
                //-     бесконечным вырезанием снежинок, приходом Деда Мороза и Снегурочки, маскарадными костюмами, елкой,
                //-     и, конечно же, с подарками. Не сомневайтесь, Ваши дети ждут новогоднего чуда точно так же,
                //-     как и Вы когда-то!

                p.
                    Будет весело!

                p.
                    Мы собрали отличную команду актеров и аниматоров, чтобы создать сказочную и непринужденную атмосферу праздника. Подготовились на славу, поэтому вас ждут:
                ul.programs__shortList
                   li  Новые сценарии, адаптированные к семейному застолью, детскому утреннику или корпоративу;
                   li  Персонажи в новых, красивых костюмах;
                   li  Остроумные шутки-прибаутки, оригинальные поздравления в стихах и прозе;
                   li  Дедушка обязательно с посохом и в валенках;
                   li  Снегурка с косичками, в нарядных сапожках.
                p.
                    Наши актеры найдут общий язык с застенчивыми малышами и «ершистыми» подростками, а их родителей порадуют ценой на услуги.

                .programs__btnBlock
                    a(href="/dedmoroz_na_utrennik.html").programs__btn Подробнее
                    a(href="/moroz_na_utrennik_price.html").programs__btn Цены
                    a(href="/invite.html").programs__btn Написать нам


            article.programs__block
                h2.programs__blockTitle Дед Мороз На Корпоратив!
                //- p.
                //-     Вызов на Корпоратив в офис и в ресторан! Интересные и нестандартные конкурсы!
                //-     Разнообразные програмы от 20-ти минут (подарить подарки) до 2-х часов (полноценное ведение корпоратива в
                //-     ресторане)! Обычно заказывают программу на 30-40 минут.

                p.
                    Взрослых ждет настоящее шоу!
                p.
                    Планируете корпоративную вечеринку? Предлагаем превратить из обычных посиделок в сказочное действо. Поверьте, наши Дед Мороз и Снегурочка умеют общаться не только с детьми. Взрослые с ними тоже не заскучают.
                p.
                    При заказе на корпоратив, принимаем любые поправки и пожелания. Можно поздравить «биг босса» или главного бухгалтера в шутливой форме. Можно всех сотрудников объединить в единый поющий хор или организовать веселый конкурс.
                p.
                    Время бежит — до Нового года всего ничего!
                    Не откладывайте заказ на потом. Лучше сейчас внимательно рассмотрите все фотографии, продумайте правки к праздничному сценарию и забронируйте волшебную парочку на конкретный день и час. Они не опоздают ни на минуту!

                .programs__btnBlock
                    a(href="/dedmoroz_na_korporativ.html").programs__btn Подробнее
                    a(href="/moroz_na_korporativ_price.html").programs__btn Цены
                    a(href="/invite.html").programs__btn Написать нам